[2016-02-25 14:20] matt-wallis opened #1 "Design URIs"
Documentation related to this issues can be found on the wiki page: [URIs](../wiki/URIs).

We want permanent URIs for all of the objects we publish. This needs some careful thought. Good sources of inspiration on this subject come from:
- [Cool URIs don't change](http://www.w3.org/Provider/Style/URI.html) by Tim Berners-Lee.
- [Creating URIs](https://data.gov.uk/resources/uris) courtesy of data.go

[2016-03-15 14:14] matt-wallis opened #2 "Convert Co-ops UK open data to RDF"
At the time of writing, the latest Co-operative UK open data is available via http://www.uk.coop/economy2015/access-data
- [x] Download CSV from Co-ops UK.
- [x] Write script to generate a turtle file for each co-op.
- [x] Convert turtle into RDF.
- [x] Write script to generate HTML for each co-op (perhaps add this to script for generating turtle).
- [x] Add functionality to Makefile to upload RDF

[2016-03-16 09:12] matt-wallis commented on #1
See wiki page: [URIs](../wiki/URIs).

[2016-03-16 13:01] matt-wallis opened #3 "DCAP-SSE uses vcard:street-addressglobal - not in vcard vocab"
The Address class of  [DCAP-SSE](http://purl.org/essglobal/wiki) uses http://www.w3.org/2006/vcard/ns#street-addressglobal, whereas the [VCARD spec](https://www.w3.org/TR/vcard-rdf/#Delivery_Addressing_Properties) uses http://www.w3.org/2006/vcard/ns#street-address. Note that **global** is appended to the one used in DCAP-SSE.

Is this intentional (how could it be?) a typo or cut & paste error?

[2016-03-16 14:33] marianamalta commented on #3
It can be a typo or a very stupid error. I note that this work has never been validated. You are the validators if you decide to use the model. So this is already so good that you are paying attention to details and trying to understand! I will come back asap with a comment, i need time to analyse the question.

[2016-03-16 17:13] matt-wallis opened #4 "DCAP-SSE: Why essglobal:state, and not vcard:region?"
The Address class in  [DCAP-SSE](http://purl.org/essglobal/wiki) specifies essglobal:state. Why not vcard:region, as all other properties of the VCARD address are used by DCAP-SSE?
@marianamalta ?

[2016-03-17 09:30] matt-wallis opened #5 "rdf:nodeID attribute appears in RDF/XML generated by ruby-rdf"
For example, we see this:

  `<essglobal:Address rdf:nodeID='g70125500955920'>`

What is an rdf:nodeID anyway? See
- https://www.w3.org/wiki/NodeId
- https://www.w3.org/wiki/BlankNodes

So it looks as if these `rdf:nodeID` attributes are, at worst, distracting.

[2016-03-22 15:25] matt-wallis opened #6 "How to include OS postcodeunit in linked data"
The following email, send to OS, describes the issue:

To: ??@os.uk
From: @matt-wallis
Subject: Using OS postcodeunit in Linked data
Date: Tue, 22 Mar 2016 15:13:34 +0000

I got your email address from
https://www.ordnancesurvey.co.uk/education-research/research/linked-data-web.html,
and I'm hoping that you can help me.

I want to include links in some data that I'm working on like this:

http://d

[2016-03-23 11:10] matt-wallis opened #7 "Make Co-ops UK URIs persistent"
The Co-ops UK URIs that we publish will be of the form `http://data.solidarityeconomics.org/id/X/N`
where X is some alphabetic string (possibly empty - see [URIs page in wiki](../wiki/URIs) for details), and N is a unique identifier for each co-op. We must ensure that we always use the same value of N for the same co-op.

We can use the 'Co-ops UK Identifier' from their open dataset. Paul at Co-op

[2016-03-23 14:31] matt-wallis opened #8 "Implement linked data to represent a collection of SSE Initiatives"
We have separate data (i.e. separate RDF/XML files) for each initiative. We want provide access to the data for a set of SSE initiatives, for example, for all of the co-ops from the co-ops UK dataset. How do we do this? API? Sparql? Static RDF/XML that represents the collection?

Initially, we want the simplest thing that satisfies the following use-case:  A javascript application wants to create

[2016-03-24 12:51] matt-wallis commented on #6
Reply received today from Anne Patrick, Research Project Coordinator, Research, Ordnance Survey, She has passed it to a colleague.

[2016-04-06 09:05] matt-wallis commented on #2
Converting the Co-ops UK data into rudimentary RDF/Turtle has been done by the code [here](https://github.com/p6data-coop/ise-linked-open-data/blob/eab8b33e51563c1bda91684160537c36c3e0dbae/data/co-ops-uk/2015-06/generate-triples.rb#L58-L65). However, this is simply converting the data for each Co-op into an SSEInitiative - and this is not really right. For example, there is data for the Co-op Grou

[2016-04-21 17:24] matt-wallis commented on #6
With reference to [GeoSPARQL](https://www.w3.org/2011/02/GeoSPARQL.pdf) and [OS SpatialRelations](http://data.ordnancesurvey.co.uk/ontology/spatialrelations/), try following 1.5 "Illustrative Examples in the GeoSPARQL spec (above), with a view to this:

[code]

[2016-04-28 11:00] matt-wallis opened #9 "Cross-origin problems for javascript apps reading linked data"
Suppose we have a javascript application that creates a Leaflet map and populates it from linked data from domains other than the one hosting the javascript app. Then, we have cross-origin issues to overcome.
As a temporary measure to allow testing, we are using [data.fm](http://data.fm/) as [described on the rdflib.js](https://github.com/linkeddata/rdflib.js/wiki/Howtos) wiki.

[2016-05-04 08:26] matt-wallis commented on #2
All of this is now implemented in this [version of generate-triples.rb](https://github.com/p6data-coop/ise-linked-open-data/blob/bd47885d1b8a94d3465452eeb40fd9549ca62fcb/data/co-ops-uk/2015-06/generate-triples.rb), which does all of the following:
- Reads the CSV
- Generates RDF, Turtle and HTML for each co-op, using only rows from the CSV marked 'Is Most Recent'.
- Generates an RDF, Turtle and HT

[2016-05-04 08:26] #2 closed, assigned to nobody

[2016-05-04 10:12] matt-wallis commented on #8
On advice from @timgdavies, we're not using those RDF containers. A much simpler solution works fine: We just list the URIs for each initiative, stating their type. Here is the beginning of the Turtle generated by this [version of generate-triples.rb](https://github.com/p6data-coop/ise-linked-open-data/blob/bd47885d1b8a94d3465452eeb40fd9549ca62fcb/data/co-ops-uk/2015-06/generate-triples.rb)

[code

[2016-05-04 10:13] #8 closed, assigned to nobody

[2016-05-04 10:49] #7 closed, assigned to nobody

[2016-10-26 08:46] matt-wallis commented on #9
We are no longer doing issuing the sparql query from the javascript in the browser, but doing it via a service from the same origin as the javascript code (i.e. a call to our own server). So this issue is no longer important - so closing.

[2016-10-26 08:46] #9 closed, assigned to nobody

[2016-11-23 11:29] matt-wallis opened #11 "Allow configurable URIs for essglobal"
This project is the first project to use the essglobal vocab in earnest. We are validating as we go, and fixing bugs in essglobal. Work on essglobal is being carried out in a separate [essglobal GitHub repository](https://github.com/essglobal-linked-open-data/map-sse). When making changes to essglobal, we deploy various versions of it for testing, with their own URI base. The data created from coo

[2016-11-23 17:56] #11 closed, assigned to nobody

[2016-11-30 09:44] matt-wallis opened #12 "Load data into OntoWiki"
We'll load the data into OntoWiki for two reasons:
1. To test it - by using OntoWiki to explore the data, we'll find issues.
2. A SPARQL endpoint is provided by OntoWiki's Virtuoso backend.

There are some steps:

- [x] Create one big file of data to load into OntoWiki
- [x] Check that all data fieldsw are 'browsable' within OntoWiki
- [x] Test the SPARQL endpoint by creating SPARQL queries within

[2016-12-01 10:31] matt-wallis opened #13 "Avoid using blank nodes in our generated Linked Data"
If we load the following into OntoWiki (using "load RDF dump"):
[code]
Then the contents of the blank node (i.e. the data for the address) are not loaded. I've asked a [question on the OntoWiki User Discussion forum](https://groups.google.com/forum/#!topic/ontowiki-user/iKmBjqRPM-A).

One workaround is not to use blank nodes - that means generating URIs everywhere we would have used a blank node.

[2016-12-14 17:34] matt-wallis opened #14 "Query data in OntoWiki"
We need to create a SPARQL query to extract the data we require from OntoWiki.

- [x] What is the SPARQL endpoint for our OntoWiki?

- [x] How do we query it from our data server? (probably from PHP)

- [x] What is the SPARQL query?
Ref docs: [SPARQL Query Language for RDF - W3C Recommendation](https://www.w3.org/TR/rdf-sparql-query/)
[Virtuoso SPARQL Query Service](https://virtuoso.openlinksw.com

[2016-12-14 18:43] matt-wallis opened #15 "Add links to Companies House linked open data"
The companies house linked open data service is at http://business.data.gov.uk/companies/. A SPARQL endpoint seems to be provided at `http://business.data.gov.uk/companies/query` (I say "seems" because this does not match the [documentation](http://business.data.gov.uk/companies/docs/getting-started-with-query.html)).

There's a [thread on public-lod](https://lists.w3.org/Archives/Public/public-lo

[2016-12-16 00:07] matt-wallis commented on #6
The final solution looks like this:
[code]
See also https://github.com/essglobal-linked-open-data/map-sse/issues/15

[2016-12-16 00:07] #6 closed, assigned to nobody

[2017-01-03 16:46] #14 closed, assigned to nobody

[2017-01-04 17:28] #12 closed, assigned to nobody

[2017-01-04 17:50] matt-wallis opened #16 "Increase SPARQL limit on Virtuoso"
The current limit for rows returned by a SPARQL query is 10000. It is configured in `/etc/virtuoso-opensource-6.1/virtuoso.ini`:
[code]
The co-ops UK dataset needs more like 15000.

[2017-01-05 10:46] matt-wallis opened #17 "move map-app to different subdomain"
Currently, the map-app is at `http://data.solidarityeconomics.org/map-app/`. But the `data` subdomain is where we server all of our Linked Open Data. So, we should move it, for these reasons:
- it would be tidier
- it would avoid possible conflict with the .htaccess in the `data` subdomain, which shopuld not be turned into a multi-purpose tool.

[2017-01-11 14:22] matt-wallis opened #18 "Modify map-app pop-up"
On clicking an SSE Initiative icon, a pop-up appears. The pop-up should be modified to include links to the following:
1. The HTML for the object (as is currently on the "Open" link)
2. The website of the initiative (if it exists)
3. Link to companies house (if it exists)
4. Link to OS postcode page

[2017-01-11 14:23] matt-wallis opened #19 "Filters for the map-app"
In order to make it easier to find objects on the map of interest, it would be good to be able to filter on:
initiatives with a website
initiatives with a companies house link
initiatives in a country

[2017-01-18 16:07] #15 closed, assigned to nobody

[2017-01-24 14:01] matt-wallis commented on #16
Fixed by modifying `/etc/virtuoso-opensource-6.1/virtuoso.ini`.

See [wiki page](https://github.com/p6data-coop/ise-linked-open-data/wiki/OntoWiki-Installation-Ubuntu) for details.

[2017-01-24 14:01] #16 closed, assigned to nobody

[2017-01-24 16:01] matt-wallis opened #20 "Companies House link should have data type 'uri', not 'literal'"
With 'literal', it is causing problems for a federated SPARQL query being written by @dan-whiteley.

[2017-01-25 10:13] matt-wallis commented on #20
Fixed by commit f443dd6027b448c3b5d981e17a6948b574c03e71

[2017-01-25 10:13] #20 closed, assigned to nobody

[2017-01-25 10:14] matt-wallis opened #21 "Make the map-app pop-ups bigger for presentation"
For the purposes of presentation to a room of people, the map-app pop-ups should be bigger.

[2017-01-25 11:32] #21 closed, assigned to nobody

[2017-02-01 12:28] matt-wallis opened #22 "Run federated SPARQL query from the map-app"
This is as a demo of the power of links in LOD and of federated queries across datasets.
We might, for example, run a query across the Ordnance Survey and Companies House SPARQL endpoints in order to find all the companies nearby (same postcode sector) an initiative that are in the same line of business (same SIC code).

[2017-02-01 16:30] #22 closed, assigned to nobody

[2017-03-23 20:07] cfrancois7 opened #23 "Is the "Virtuoso adapter requires the ODBC extension to be loaded." for MacOsX is resolved ?"
I got the same error on my MacOsX. Someone has resolved the problem ?
See [here](https://github.com/p6data-coop/ise-linked-open-data/wiki/OntoWiki-Installation-Mac-OS) for the reference.

[2017-03-23 20:55] matt-wallis commented on #23
Sorry. I don't know if anyone resolved that problem. I am no longer attempting to run OntoWiki on Mac/OsX, but using linux instead.
I think my record of what I had to do to [run OntoWiki on Ubuntu](https://github.com/p6data-coop/ise-linked-open-data/wiki/OntoWiki-Installation-Ubuntu) are reasonably reliable.

[2017-03-23 20:55] #23 closed, assigned to nobody

[2017-05-24 09:25] matt-wallis opened #24 "Leaflet's global L variable sometimes not defined"
Occasionally, the map-app fails to load because Leaflet's global variable L is not defined.
The source code for map-app should never use L directly, but use the variable from the define function, with leaflet loaded as an AMD module.
The most likely source is therefore the awesomemarkers plugin.

[2017-06-28 13:44] matt-wallis opened #25 "Make map-app work well on all devices"
The text is too small.
See [Leaflet notes on mobiles](http://leafletjs.com/examples/mobile/).
See [Google notes on Responsive Design](https://developers.google.com/web/fundamentals/design-and-ui/responsive/).

---
#### TaslJuggler
TJ: effort 2d
TJ: depends-on #73
TJ: depends-on #77

[2017-09-05 10:30] matt-wallis commented on #18
Closing as this all seems to be in place now.

[2017-09-05 10:31] #18 closed, assigned to nobody

[2017-09-05 10:36] matt-wallis commented on #4
Closing here as this issue has been moved to a more appropriate repository:
https://github.com/essglobal-linked-open-data/map-sse/issues/22

[2017-09-05 10:36] #4 closed, assigned to nobody

[2017-09-05 10:39] matt-wallis commented on #3
Closing as this issue has been moved to a more appropriate repository. Please go there for further comments etc:
https://github.com/essglobal-linked-open-data/map-sse/issues/23

[2017-09-05 10:39] #3 closed, assigned to nobody

[2017-09-05 10:41] matt-wallis commented on #1
Work has now been completed on this for the Co-ops UK 2016 dataset.

[2017-09-05 10:41] #1 closed, assigned to nobody

[2017-09-06 15:25] matt-wallis opened #26 "Design URIs for Co-ops UK 2017 data"
Perhaps we should choose URIs for the 2017 Co-ops UK data that reflect the fact that it is data for 2017. Need to give this some thought. Many aspects of the data are constant (e.g. name of org, geographic location).

Do we want to use `solidarityeconomy` rather than `solidarityeconomics` in our URIs? Or do we want to use something completely different as not all of co-ops UK members are within th

[2017-09-07 14:32] matt-wallis opened #27 "Deploy Co-ops 2017 data to dereferencable server"
To be de-referencable, the data must be retrievable over the internet using its published URIs.
So this requires that

- [x] External service (e.g. purl.org, or w3id.org) is configured
- [x] Web server is properly configured
- [x] Content negotiation is set up on the server
- [x] Data is deployed to appropriate location on the server

The server `ise-0` is a likely choice, in which case the target

[2017-09-07 14:43] matt-wallis opened #28 "Display Co-ops UK 2017 data on map-app"
Maybe we also want to use this as an opportunity to allow the map-app to display data from different sources:
- 2016 data
- 2017 data

[2017-09-07 14:52] matt-wallis opened #29 "Generated LOD should reference permanent URIs"
For the 2016 Co-ops UK data, we use purl for persistent URIs. https://archive.org/services/purl/domain/solidarityeconomics
But the generated data (for Co-ops UK 2016) has URIs of the form http://data.solidarityeconomics.org/id/...

[2017-09-07 15:25] matt-wallis opened #30 "Move to w3id.org for permanent (https) URIs"
Should we move from PURL to https://w3id.org/? It involves forking their github repo, creating appropriate `.htaccess` file, and then issuing a pull request. We might want to base our's on [valueflows .htaccess file](https://github.com/perma-id/w3id.org/blob/master/valueflows/.htaccess).

If we do so, then we must use `https` URIs, but I think that's a good thing!

[2017-09-07 15:28] matt-wallis opened #31 "Configure permanent URI"
See issue #26, which covers the design of these URIs.
This issue is about configuring redirections etc. (e.g. in purl.org, or https://w3id.org/ - depending on what's decided).
The decision about URIs will also affect what is encoded in the LOD, and possibly in the way content negotiation is set up.

[2017-11-14 16:30] matt-wallis opened #32 "Update map-app README"
The current [README](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/map-app/README.md) is really about the co-ops UK 2016 data.

We need a new one for 2017 data.

This README is what you see when you click the `About` button on the map-app application. If the 2016 README is renamed, then the map-app link in the javascript needs to be changed to follow this. And simi

[2018-01-11 11:05] matt-wallis opened #33 "Don't show doc URLs in HTML table"
These doc URLS are purely internal - the interface should be via the permanent URI. With these gone, there's no need to pass `doc_url_base` into `generate-triples.rb`.

[2018-01-25 09:52] matt-wallis opened #34 "Generate Co-ops UK 2017 data (same predicates as for 2016 data)"
This means that the data can be generated on a development machine - not deployed.
The variation of the process from the 2016 data is expected to be minor.

[2018-01-25 09:57] matt-wallis opened #35 "Extra predicates to use for Co-ops UK 2017 data"
By extra, we mean predicates that were not used in the 2016 Co-ops UK data.

[2018-01-25 10:00] matt-wallis opened #36 "Generate Co-ops UK 2017 data (with extra predicates)"
This depends on #35

[2018-01-25 10:19] matt-wallis opened #37 "Generate LOD from 'standard' set of spreadsheets"
If we have a mechanism for generating LOD from a standard set of spreadsheets, then the work of creating a new dataset becomes the work of populating this standard set of spreadsheets.
Of course, we first need to do the work to check that this approach is feasible, and to design the details of the process.

The benefits of this approach are:
- we re-use the same software tools to convert the stand

[2018-01-25 11:08] matt-wallis opened #38 "Allow exact geo-locations to be used (as alternative to postcodes)"
With the 2016 Co-ops UK data, all geo-location was done via the postcode. This was a pragmatic choice as that was the only information available. But we want to allow the exact lat/lon to be used when these are available.
- [x] Design how to incorporate this into our generated LOD
- [ ] get the map-app to use the exact location in preference to postcode

### TaskJuggler
TJ: effort 3h

[2018-01-25 11:11] matt-wallis opened #39 "Data not created for initiatives in Northern Ireland"
The reason is that there is no freely available postcode information for Northern Ireland, so we can't obtain an approximate geo-location for these initiatives.

[2018-01-25 11:18] matt-wallis opened #40 "map-app should make clear when approx geo-locations are used"
When we use postcode units, for example, as the geo-location, the point shown on the map is rarely the exact location of the thing that is being located. The size of the error is proportional to the size of the postcode unit. It can be big in rural areas. There's some info [here on postcode areas](https://www.quora.com/Whats-the-average-area-sq-km-contained-by-a-full-postcode-in-the-UK) stating th

[2018-01-25 11:32] matt-wallis opened #41 "Decide whether to generate co-ops uk 2017 data using standard spreadsheets"
By 'standard spreadsheets', we mean what is referred to in #37.

If we plan to use this approach in the future (for the other data sets we plan to publish), then it makes sense to use the co-ops UK 2017 data as a proving ground for the approach.

[2018-01-25 12:30] matt-wallis opened #42 "Include photos in our LOD"
We want the gathering of information about SE initiatives to be a social process, with lots of people involved. This information is then used to create Open Data.
Let's allow photos to be part of that social process. A photo could be of the shop front of an SE, but of course the sky is the limit!
Wouldn't it be great for people to be able to view these photos via the map-app?

This idea is inspire

[2018-01-25 13:06] matt-wallis commented on #41
Added pressing label as making this decision affects what is to be done in the very near future

[2018-01-29 15:57] ColmMassey commented on #37
When you spreadsheet, do we really mean accessing an ods or xls via an api, or reading a csv exported from a spreadsheet app?

It seems highly desirable to have the data entry for these databases via a human readable spreadsheet form. Lowers the entry bar considerably.

[2018-01-29 15:57] ColmMassey commented on #37
Would we be modifying existing software that does this already, or starting from scratch?

[2018-01-29 15:58] ColmMassey commented on #41
I think main question is how big  job this is?

[2018-01-30 10:07] matt-wallis opened #43 "Create metadata for published Linked Open Data"
[Best Practices for Publishing Linked Data (W3C)](https://www.w3.org/TR/ld-bp/) advises "Publish basic metadata". Need to find out more details of what is best practice for basic metadata.
See also [Dublin Core Metadata Initiative](http://dublincore.org/documents/dcmes-xml/)

[2018-01-30 10:22] matt-wallis opened #44 "Return appropriate RDF when dereferencing URI"
See [How to Publish Linked Data on the Web](http://wifo5-03.informatik.uni-mannheim.de/bizer/pub/LinkedDataTutorial/#deref), section "What should I return as RDF description for a URI?"

This issue is about extending the RDF to include the widely used conventional triples that provide, for example, meta-info. What do we need to add?

[2018-01-30 11:15] matt-wallis commented on #37
I mean reading from a CSV - all spreadsheet programs can produce CSV. It is, if you like,  standard interchange format for tabular data. Yes - lowering the bar is a very good thing.

It is modifying existing software - splitting the existing process into two separate tasks:
1. Read in co-ops UK CSV (already done) and write it out in our standard CSV (new).
2. Read our standard CSV (a modification

[2018-01-30 11:22] matt-wallis commented on #41
If we agree that we should address issue #37 (and I strongly think we should), then the extra work involved in converting coops UK data to a standard CSV format is not big. But it does mean that #37 needs to have the milestone https://github.com/SolidarityEconomyAssociation/open-data-and-maps/milestones/1

[2018-01-30 12:48] matt-wallis commented on #13
Note that the advice in [How to Publish Linked Data on the Web](http://wifo5-03.informatik.uni-mannheim.de/bizer/pub/LinkedDataTutorial/#datamodel) is

That's why this issue's title had been changed. The first step is to check if any blank nodes are still being generated.

[2018-01-30 14:36] matt-wallis opened #45 "Decide what to do with 'outlets' in co-ops UK data"
The Co-ops UK data provides separate spreadsheets for _organizations_ and _outlets_. For example, "The Midcounties Co-operative" is an _organization_ that has over 300 _outlets_.
- Should we model outlets separately from organizations in our generated LOD? This is unlikely to be relevant for most grassroots SE initiatives - so could we just avoid it?
- We have reliable persistent identifiers for o

[2018-01-30 14:59] matt-wallis opened #46 "Deployment overwrites too many files"
Consider this:
[code]
(where bombyx:~/SEA/open-data-and-maps is a clone of this repo).

After the deployment, looking at the location on the server to which the data has been deployed:
[code]
If there was anything in the `experimental/test` directory before the deployment, it will have been deleted. In particular, this 2017 data has overwritten the 2016 data. That's not what we want!

[2018-01-30 15:12] matt-wallis commented on #46
Ideally, the solution to this should leave the 2016 version of [`generate-triples.rb`](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/data/co-ops-uk/2016-06/generate-triples.rb) unchanged.

If we look at the deployment path `parecco:public_html/subdomains/solidarityeconomics.org/data/doc/experimental/test/`, it can be broken down as follows:
- `parecco:public_html/s

[2018-01-30 16:17] ColmMassey commented on #41
I agree.

[2018-01-30 16:27] matt-wallis commented on #41
Closing as we have now decided to generate the co-ops UK LOD from a standard spreadsheet. This means that the milestone for issue #37 has changed.

[2018-01-30 16:27] #41 closed, assigned to matt-wallis

[2018-02-06 09:12] matt-wallis opened #47 "Do not include non-existent postcodeunit URIs"
Ordnance Survey does not provide postcodeunit data for some postcodes. These include those in Northern Ireland, Channel Islands, and new ones.
For the experimental 2016 coops UK data, these URIs are being included in the RDF, even though they don' exist. For example, the Turtle for `R000055`:
[code]
It would be better to omit the `osspatialrelations:within` predicate.

This can be done by checking

[2018-02-15 12:46] matt-wallis opened #48 "Should all our URIs (e.g. Addresses) be dereferenceable?"
Clearly, the URIs for initiatives should be dereferenceable.
But what about those for addresses. For example:
[code]
We are minting URIs for Addresses partly because Ontowiki doesn't like blank nodes, and partly because it seems to be _the right thing to do_ (see #13).
But, should they be dereferencable? One would think so.
Currently, I suspect that our mechanisms for dereferencing URIs support on

[2018-02-15 15:50] matt-wallis opened #49 "Indentation of generated RDF serializations"
A mystery exists: The RDF serializations generated from the 2016 co-ops UK data are nicely indented:
[code]
whereas those generated from the 2017 data are not:
[code]
Why? We's really prefer nively formatted data, especially when it is displayed in the HTML docs that are reached by clicking on the initiative in the map-app.

[2018-03-06 15:22] matt-wallis commented on #37
This is implemented by the ruby script [standard-csv-to-rdf.rb](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/data/tools/se_open_data/bin/standard-csv-to-rdf.rb), which uses the [SeOpenData library](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/tree/master/data/tools/se_open_data/lib/se_open_data).

The standard is currently very minimal (it is

[2018-03-06 15:22] #37 closed, assigned to matt-wallis

[2018-03-06 15:41] matt-wallis commented on #34
This can now be done via the [Makefile in open-data-and-maps/data/co-ops-uk/2017-06/](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/data/co-ops-uk/2017-06/Makefile). For example, on Matt's machine:

1. Use [co-ops-uk-outlets-converter](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/data/co-ops-uk/2017-06/co-ops-uk-outlets-converter.r

[2018-03-06 15:41] #34 closed, assigned to matt-wallis

[2018-03-06 15:42] matt-wallis commented on #13
The generated RDF for Co-ops UK 2017 data does not contain blank nodes.

[2018-03-06 15:42] #13 closed, assigned to matt-wallis

[2018-03-06 15:49] matt-wallis commented on #47
Fixed in process used to generate co-ops UK 2017 data

[2018-03-06 15:49] #47 closed, assigned to matt-wallis

[2018-03-08 09:18] matt-wallis commented on #26
In [Jenny Tennison's article "Creating URIs"](https://data.gov.uk/resources/uris], she says of designing URIs for datasets:

This is in keeping with [my earlier comment](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/26#issue-255644768).

[2018-03-08 12:25] matt-wallis commented on #26
QUESTION: Is it inappropriate for us to use `coops-uk` in the following URIs:
`https://w3id.org/coops-uk/2017/...` or `https://purl.org/coops-uk/2017/...`,
given that we are then 'squatting' on the top-level part of the URI, which, it could be argued, should be left for the use of Coops UK?

**Alternative 1:**
`https://purl.org/solidarityeconomy/coops-uk/2017/..`.
But that implies that everything

[2018-03-08 14:24] matt-wallis commented on #48
Consider using Hash-URIs (See W3C's Cool URIs)[https://www.w3.org/TR/cooluris/#hashuri] for addresses. e.g.
[code]
Then we need only make the bit before the hash fragment (i.e. `https://w3id.org/coops-uk/2017/id/R002049`) de-referenceable. So we don't need a separate document for the Address.
[code]

[2018-03-08 14:52] matt-wallis commented on #26
**Question**: Do we use hash URIs or 303 URIs for SE initiatives?

See [W3C: Cool URIs](https://www.w3.org/TR/cooluris/#solutions) for what this means.

If we were to use hash URIs like this: `https://w3id.org/coops-uk/2017#R001345`, then any attempt to dereference these would require that the full document describing `https://w3id.org/coops-uk/2017` must be returned, and that's going to be large

[2018-03-08 15:52] matt-wallis commented on #45
Asked in the body of this issue:
- _Should we model outlets separately from organizations in our generated LOD? This is unlikely to be relevant for most grassroots SE initiatives - so could we just avoid it?_

The results of that exercise is that the data in the outlets CSV are all from just 20 co-op organisations (the figure of 21, below, includes the CSV header line):
[code]
So, the Co-ops UK da

[2018-03-08 17:06] matt-wallis commented on #45
With regard to the outlets that currently have duplicate IDs in the 2016 dataset: If we decide in #26 that we are using URIs of the form:
[code]
then perhaps the ones for outlets should be
[code]
and where there is more than one outlet with the same org and postcode, use:
[code]
where n is arbitrary, and usually within the set `{1, 2}`, as there are rarely more than 2 outlets with the same postcod

[2018-03-14 10:11] matt-wallis opened #50 "Add legal-form to standard CSV"
Currently, legal-form is hard-coded in [se_open_data/initiative/rdf.rb](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/data/tools/se_open_data/lib/se_open_data/initiative/rdf.rb):
[code]
Instead, this should be picked up from the standard CSV.

The legal forms defined by essglobal can be found in [standard/legal-form.skos](https://github.com/essglobal-linked-open-da

[2018-03-14 10:45] matt-wallis commented on #45
The URIs  include a reference to the 2017 dataset. In this sense they are persistent.
Furthermore, most URIs will relate to this from the 2018 dataset in the canonical way, where these two refer to the same initiative:
[code]
However, there is a possibility that these two will **not** refer to the same initiative:
[code]
and that some manual patching may be needed to define these two, for example

[2018-03-14 10:45] #45 closed, assigned to nobody

[2018-03-14 10:50] #29 closed, assigned to matt-wallis

[2018-03-14 10:56] #48 closed, assigned to matt-wallis

[2018-03-14 11:03] matt-wallis commented on #50
When the legal form is available in the standard CSV, the software than generates the standard CSV from the Co-ops UK CSV should be updated to use it. Everything in there is a `Cooperative`, and some (those with Companies House IDs) are also of the legal form `Company`.
So, we can test the situation where one initiative has more than one legal form.

[2018-03-14 15:00] matt-wallis commented on #26
Done and implemented in these commits:
ab48ff0b7a106543ddf51325df1a57ec09c9d931
0ce8c131f53f8fee40c018c14cec575021078048

[2018-03-15 09:16] #50 closed, assigned to matt-wallis

[2018-03-15 09:18] matt-wallis commented on #35
Any essglobal legal form can now be added into the data (as from 65e21fbc61504b43028e429394a5ea9f2967de59). See #50 for details.

[2018-03-15 14:21] matt-wallis commented on #35
- [x] The actual latitude and longitude of the initiative should be added.

Note that in commit 65e21fbc61504b43028e429394a5ea9f2967de59, the Standard CSV columns were generalised to be about 'Geo Container' rather than OSPostcodeUnit.

----
Implemented in https://github.com/SolidarityEconomyAssociation/open-data-and-maps/commit/8af72b212399d11e8fa0644054aac8536298fbf4

[2018-03-15 15:34] matt-wallis commented on #35
- [x] Street addresses should be added. These are available in the Co-ops UK data.

Use [VCARD](https://www.w3.org/TR/vcard-rdf). Extra fields needed are street-address, locality and region.

- [ ] Telephone. See [VCARD Communications Properties](https://www.w3.org/TR/vcard-rdf/#Communications_Properties).

But how do we create the contianed elements, using the `parseType="Resource"` as per [examp

[2018-03-15 16:22] matt-wallis commented on #35
- [ ] Use Standard Industrial Codes (SIC) provided in coops UK orgs data. Consider transferring to essglobal Activities?

There's a gov.uk [CSV to lookup SIC](https://www.gov.uk/government/publications/standard-industrial-classification-of-economic-activities-sic)

The correspondence between SIC and [essglobal Activities](https://github.com/essglobal-linked-open-data/map-sse/blob/develop/vocabs/st

[2018-03-15 16:44] matt-wallis commented on #35
- [x] Use the Description field provided in the Coops UK outlets data.

But ... where would this go in the RDF?
`essglobal:SSEInitiative` is a subclass of `org:OrganizationalUnit`, which is a subclass of `org:Organization`, which is a subclass of `foaf:Agent`.
But none of these have a clear place for free text. And the Co-ops UK outlets data sometimes has loads of info in the Description, such as

[2018-03-15 16:48] matt-wallis opened #51 "Generate HTML to serve"
Just as was done for the co-ops UK 2016 data, we need HTMl to serve up from the web server when RDF/XML or Turtle is not requested.
This should be placed alongside (i.e. same dir) as the RDF serializations it describes.

[2018-03-15 21:31] #51 closed, assigned to matt-wallis

[2018-03-16 09:14] matt-wallis opened #52 "Find out about parseType=Resource and blank nodes"
Ask on ruby-rdf mailing list how to create this: https://www.w3.org/TR/rdf-syntax-grammar/#section-Syntax-parsetype-resource
or this https://www.w3.org/TR/vcard-rdf/#Examples

Also look up W3 reference to blank nodes being a bad idea and ask about it.

[2018-03-20 10:58] matt-wallis opened #53 "Experiment with Linked Data Browsers"
Linked Data Browsers are a useful tool for testing our data, and for demonstrating its power to others.

There's an interesting [thread about Linked Data Browsers on public-lod.w3.org](https://lists.w3.org/Archives/Public/public-lod/2018Mar/0019.html), with lots of references to browsers.

**Some Linked Data Browsers**

- [Graphite RDF browser at ecs.soton.ac.uk](http://graphite.ecs.soton.ac.uk/br

[2018-03-20 12:38] matt-wallis opened #54 "Convert SUSY data to LOD"
The SUSY data is available at https://data.transformap.co/place/SSEDAS_PARTNER

- [ ] Convert this data to our [Standard CSV](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/data/tools/se_open_data/lib/se_open_data/csv/standard.rb).
- [ ] Consider how that standard CSV should be evolved to make best use of the SUSY data.
- [ ] Update the library methods used by the [

[2018-03-20 14:31] almereyda commented on #54
You will find out that the dataset does not follow a relational database schema, since some entries may involve different keys than others.

I am also wondering why the JSON documents need to be flattened/normalised into a strict CSV schema, before being transformed into an RDF graph again.

Please note the internal data format is prepared to be rendered into JSON-LD by explicitly making use of `i

[2018-03-20 15:06] matt-wallis commented on #54
We use the "standard CSV" because it is a format that is widely understood, and is sufficient for providing _basic_ information about an SSE initiative. It will probably be the simplest way to convert a _basic subset_ of the properties of each SSE initiative into RDF.

However, further investigation should be done for this JSON data, given that it is already _LD ready_  :-) If there's a straightfo

[2018-03-20 15:49] matt-wallis commented on #35
- [ ] Use the `Ownership Classification` column of the Coops UK orgs data.

To see which values can appear in this column, and how often they do so:
[code]
There does not see to be an obvious way to map these onto anything in the [essglobal standard vocab](https://github.com/essglobal-linked-open-data/map-sse/tree/develop/vocabs/standard)

[2018-03-20 18:57] almereyda commented on #54
I agree it would be interesting to explore how to avoid an intermediary step, especially since we are targeting LOD since the very first beginning, but also had to fight against design patterns imported from OpenStreetMap that work against it.

Please note the OpenStreetMap database is not involved at all here. Yet each `id` is a UUID to be considered a permanent identifier. The `versions` endpoin

[2018-03-21 16:02] matt-wallis commented on #26
Hmm. The above scheme doesn't work very well. For example, what should be the URI for the dataset? i.e. the URI which when dereferenced gives a list of everything in the dataset.
[code]
That feels very odd. The problem is that we can't put the string `id` in the usual place:
[code]
because we don't have that kind of control over w3id.

Having re-read [Best Practices for Publishing Vocabularies, Re

[2018-03-21 16:06] matt-wallis commented on #27
[Jeni Tennison's "What do URIs mean anyway"](http://www.jenitennison.com/2011/07/05/what-do-uris-mean-anyway.html) article is very interesting reading.

[2018-03-21 16:22] matt-wallis commented on #43
In [What do URIs mean anyway?](http://www.jenitennison.com/2011/07/05/what-do-uris-mean-anyway.html), Jeni Tennison says:

Some/all of these should probably be used.

[2018-03-28 08:55] matt-wallis opened #55 "Explore taxonomies"
The experimental coops-uk 2016 linked data had almost no classification of SSE initiatives. Clearly we need to classify initiatives. But how?

Some things to look at:
- Classifications used in SUSY -- see issue #54
- Classifications available in ESSGLOBAL -- see [ESSGLOBAL vocab](https://github.com/essglobal-linked-open-data/map-sse/tree/develop/vocabs/standard)

_Please add further suggestions in

[2018-03-28 08:59] matt-wallis commented on #55
The [Manchester SE map](http://postculture.co.uk/mapjam/about/) uses (as at Easter 2018 - this may change) this classification, which seems very clear:

- Agriculture & Sustainability
- Arts & Culture
- Care, Health & Wellbeing
- Community & Collaborative Finance
- Energy & Utilities
- Food, Drink & Hospitality
- Land & Housing
- Spaces, Places, and Hubs
- Tech & Manufacturing
- Worker's co-op

[2018-03-28 09:45] matt-wallis commented on #54
@almereyda - thanks for the information. Just to let you know that it will be quite a while before we get to do work on this, but it's great to have the information you provided as a place to start that work.

[2018-03-28 14:02] matt-wallis commented on #27
UPDATE: The following (old) comment is not entirely accurate. All of the redirection and content negotiation has been implemented in [w3id.org/coops-uk/2017/.htaccess](https://github.com/perma-id/w3id.org/blob/master/coops-uk/2017/.htaccess)

Original outdated comment follows:
-----

The plan for redirection and content negotiation is as follows:

All redirection and content negotiation will be do

[2018-04-03 10:59] matt-wallis opened #56 "Please record interesting maps here"
We frequently encounter interesting maps that display some aspect of the Solidarity Economy. This issue is a place to record these - a kind of 'holding area' until they can be put into a properly curated list.

[2018-04-03 11:00] matt-wallis commented on #56
https://zerowastemap.org/

[2018-04-03 11:05] matt-wallis commented on #56
Swansea Green Map: http://www.sustainableswansea.net/green-maps.html

[2018-04-04 08:47] matt-wallis commented on #26
This has now been implemented, according to the [comment above](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/26#issuecomment-374994755).
The redirections can be tested via a checkout of this repo:
[code]

[2018-04-04 08:47] #26 closed, assigned to matt-wallis

[2018-04-04 08:51] matt-wallis commented on #46
This is still a problem, although reduced in size, in that the data generated by the editions `test2017` and `final` are written to the same location on our server:
[code]
But, this problem can be lived with easily, so chaning the milestone for this issue.

[2018-04-04 09:01] matt-wallis opened #57 "Handle non UTF-8 encoding in source CSVs"
Currently, the Co-ops UK organizations data includes a few rows like this:
[code]
These cause problems when the HTML is generated. An exception is raised:
[code]
Here's a backtrace:
[code]
Where `/Users/matt/SEA/open-data-and-maps/data/tools/se_open_data/lib/se_open_data/initiative/html.rb:34` is:
[code]

[2018-04-04 09:06] matt-wallis commented on #57
The most recent commit is a temporary workaround, so this is not urgent to fix.

[2018-04-04 09:10] matt-wallis commented on #35
A sufficient set of these have now been implemented in that we are now generating data that is significantly improved compared to the 2016 data. So, the [ odm-uk-co-op-map-v2-published](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/milestone/1) milestone has been removed.

[2018-04-04 09:11] matt-wallis commented on #36
Enough of the extra predicates in issue #35 have now been implemented for this to be closed.

[2018-04-04 09:11] #36 closed, assigned to matt-wallis

[2018-04-04 09:12] matt-wallis commented on #33
These doc URLs are no longer present in the generated HTML.

[2018-04-04 09:12] #33 closed, assigned to matt-wallis

[2018-04-04 09:14] matt-wallis commented on #31
The redirections are now configured, as can be seen by running this test:
[code]

[2018-04-04 09:14] #31 closed, assigned to matt-wallis

[2018-04-04 09:20] matt-wallis commented on #27
The deploy target now works:
[code]
All tasks in the body of this issue have been ticked off, so closing.

[2018-04-04 09:20] #27 closed, assigned to matt-wallis

[2018-04-04 09:28] matt-wallis commented on #38
Our [standard CSV](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/data/tools/se_open_data/lib/se_open_data/csv/standard.rb) now allows Lat and Long to be added explicitly. Here's an extract from that file:
[code]
The specific requirement of this issue is also mentioned in #35.

[2018-04-04 09:29] matt-wallis opened #58 "Set up SPARQL endpoint for Co-ops UK 2017 data"
Should be able to follow what was done for the 2016 data, and use the same OntoWiki/Virtuoso server.

[2018-04-04 09:31] matt-wallis commented on #30
Done. See [w3id.org/coops-uk/2017/.htaccess](https://github.com/perma-id/w3id.org/blob/master/coops-uk/2017/.htaccess)

[2018-04-04 09:31] #30 closed, assigned to nobody

[2018-04-04 11:10] Clara-dos-Santos commented on #56
Social and Solidarity Economy Map/App in Argentina:  https://www.essapp.coop/

[2018-04-04 12:17] matt-wallis commented on #58
The following commands create the data for the triplestore:
[code]
We can now see that files for the triplestore have been generated:
[code]
(a turtle file is generated, but only the RDF/XML will be used when populating the triplestore).

We can now pull other RDF into that same directory:
[code]
`global.graph` contains the name of the named graph to be used for this data in Virtuoso:
[code]
and `

[2018-04-04 12:35] matt-wallis commented on #58
With the recently added [SPARQL files for testing](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/commit/e966896f5942ac0eb1922428b1ae1e7629da26b7), we can see that the named graph (`https://w3id.solidarityeconomy.coop/coops-uk/2017/`) has been added:
[code]
and that some data is there!
[code]

[2018-04-04 12:41] matt-wallis commented on #58
All that remains is to set up a suitable URI for this SPARQL endpoint. How about
[code]
Is it possible to redirect this to:
[code]
or should that be using https (it is not currently set up to do so).

[2018-04-04 14:06] SEAKatDarling opened #59 "Share outcomes from the CTRLshift mapping workshop"

[2018-04-04 14:13] #59 closed, assigned to nobody

[2018-04-05 09:40] matt-wallis commented on #58
The SPARQL endpoint is now set up and can be tested like this:
[code]
To see what commands are run during the `sparqltest` do this:
[code]

[2018-04-05 09:40] matt-wallis commented on #58
Re-opening - still need to set up a w3is.org redirection to finish this off properly.

[2018-04-05 09:46] matt-wallis commented on #57
Read this: http://ruby-doc.org/core-2.4.0/Encoding.html

[2018-04-05 10:23] matt-wallis commented on #46
As a result of the [9adeffa commit](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/commit/9adeffa075a0fde9f9fe01c578a88d629e6296e7), the rsync uses the --delete flag only for the final edition:
[code]
This lessens the risk of damage.

[2018-04-05 12:46] matt-wallis commented on #28
@ColmMassey - you can now see the [Coops UK 2017 data on a map](https://maps.solidarityeconomy.coop/coops-uk/2017/)

There's more to do, but this is a significant milestone. :-)

[2018-04-05 13:41] matt-wallis opened #60 "Find initiatives using approximate string matching"
We expect to be in the situation where we have two slightly different strings that refer to the same SSE initiative, and we need to match them.

This could arise, for example, if two different data sources have slightly different names for the same thing. In this case, it is likely that the software to detect the approximate string matches would be running in a desktop/server computer.

It can als

[2018-04-05 14:23] matt-wallis opened #61 "Tidy generated HTML"
- [x] Add content to index.html
- [x] Include links to CSS

[2018-04-05 16:42] #61 closed, assigned to matt-wallis

[2018-04-10 14:21] matt-wallis commented on #58
Attempting to set up the redirection:
[code]
but this is not working:
[code]
whereas this does:
[code]
What's going on???

[2018-04-10 16:44] matt-wallis commented on #55
Useful information related to TransforMap wikibase can be found starting with [this comment on discourse](https://discourse.transformap.co/t/wikibase-federated/867/17?u=mattw).

A starting place to look at taxonomy in TransforMap is the [transformap base](https://base.transformap.co/wiki/Main_Page). Examples from there:
- [taxonomy items](https://base.transformap.co/wiki/Special:AllPages?from=&to=

[2018-04-11 11:50] matt-wallis commented on #56
uMap: Make your own map: http://umap.openstreetmap.fr/en/

[2018-04-11 11:57] matt-wallis commented on #56
[TransforMap](https://viewer.transformap.co)

[2018-04-13 16:07] ColmMassey commented on #28
Is this not closable. It's as feature complete as the old map. Extensions can have new tickets?

[2018-04-13 16:13] ColmMassey opened #62 "Add Pointer to Parent Co-op from Outlet Icon"
If an icon in the map-app is an outlet rather than a co-op or co-op's headquarters then add a hyperlink in its pop up that selects the 'parent' icon on the map and recentres the map there. Can we also use another icon colour for outlets?

[2018-04-16 09:05] ColmMassey commented on #56
Before adding any more maps here, look here.
..sea-internal\Projects\Open Data and Maps\Delivery\Consortium Candidates.ods

[2018-04-16 09:11] SEAKatDarling commented on #56
I think this repo is public, so other people won't be able to access our organisational files

[2018-04-17 09:39] matt-wallis opened #63 "map-app should allow user to choose which dataset(s) to load"
As we get more datasets available, this will be come more important.

Some of the mechanism for this is already implemented. When the Linked Data is generated, a `sparql` directory is created:
[code]
The two `.txt` files contain URIs that are needed to form the command that's send to the sparql endpoint:
[code]
and `query.rq` is the SPARQL query itself:
[code]
Together, these three files are suffi

[2018-04-17 09:39] matt-wallis commented on #28
@ColmMassey, I _think_ that's one of my favourite typos - mean _now_, but type _not_. :-) Yes?

Somethink not yet implemented, but mentioned in the original body of the issue is the ability to choose which data to load into the map - I've created a new issue #63 for that.

[2018-04-17 09:39] #28 closed, assigned to matt-wallis

[2018-04-17 09:52] matt-wallis commented on #62
A hyperlink in the pop-up would be quite easy to implement (on a map that was specific to coops uk).
But wouldn't it be better to model this relationship in the LOD?
There's a comment in another issue that's very closely related: https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/45#issuecomment-371529228

What is the use-case (or what are the use-cases) that requires a diff

[2018-04-17 09:54] ColmMassey commented on #28
I think now or not both work.

[2018-04-17 10:05] ColmMassey commented on #62
Use case for colour difference is short term ease of use when demonstrating. It's clear what features are available on an icon before clicking it.

[2018-04-17 10:07] ColmMassey commented on #62
Modeling the parent/outlet relationship is definitely better. It does however feel like it warrants some deeper thinking, to get it right. Should I split this into seperate features?

[2018-04-17 10:28] matt-wallis commented on #62
I think that's best. One for the short-term change that is meaningful only to co-ops UK data/map. The other for the longer term modelling. For the longer term modelling, ESSGLOBAL has the concept of a `Network` to which `Initiatives` can belong - not quite the same as the co-ops uk organization/outlet split, but definitely related.

[2018-04-24 12:10] ColmMassey commented on #56
It just seems like an unusual way of using a Github Issue. When would we close this issue? Or is it like the recurrent one, they live forever?!

[2018-04-24 15:49] matt-wallis commented on #56
I created the issue in response to seeing interesting maps being mentioned on Signal. Each time one was mentioned, I found myself thinking that I should add the map URL to a list somewhere that everyone could see. This issue _is_ that list, and anyone can add to it :-) In due course, the list should probably be organized into something else, but at the moment, it serves the purpose of keeping ever

[2018-04-25 11:30] matt-wallis opened #64 "Convert .coop data to LOD"
We have some test data from Domains.coop, and need to convert it to LOD.

[2018-04-26 10:22] matt-wallis opened #65 "Match initiatives that appear in both Coops-UK and dotcoop datasets"
The end result should be some published SameAs triples

[2018-05-01 07:45] matt-wallis opened #66 "Sort out dependency from coops-uk/2017 to dotcoop sameas.csv"
In the [common.mk makefile fragment for coops-uk/2017](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/data/co-ops-uk/2017-06/common.mk), there's a hard-coded dependency on the file `../dotcoop/domains2018-04-24/generated-data/experimental/sameas.csv`

There are also hard-coded dependencies on `../../co-ops-uk/2017-06/generated-data/final/csv` and `generated-data/exp

[2018-05-01 11:52] SEAKatDarling commented on #56
This sounds a really interesting project to co-create data standards for local government services to create a range of tools, including a map - http://www.folklabs.com/project/local-digital-waste-standards/

[2018-05-01 12:43] matt-wallis commented on #60
There's some vaguely relevant work in the [script for matching dotcoop and coops-uk data](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/data/dotcoop/domains2018-04-24/match-with-coops-uk.rb).

[2018-05-02 13:16] matt-wallis commented on #56
Not a geographical map, but a map of Linked Open Data! (which has just been updated):
http://lod-cloud.net/

[2018-05-22 12:12] matt-wallis opened #67 "Make the map-app configurable for different maps"
At the time of writing, we have several different maps being created:
- https://maps.solidarityeconomy.coop/dotcoop-coopsuk/
- https://maps.solidarityeconomy.coop/dotcoop/
- https://maps.solidarityeconomy.coop/coops-uk/2017/

All are generated from the same source code, but some manual editing must be done in order to build one map rather than another (e.g. in order to configure which dataset is t

[2018-05-22 12:31] matt-wallis commented on #67
The proposed mechanism:
(_This is just a rough outline, not a specification, so exact details will almost certainly change!_)

[Makefile](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/map-app/Makefile) must support variants. In use, this will look like this:
[code]
The above commands will cause makefile fragments to be loaded by make
[code]
These makefile fragments

[2018-05-22 17:21] matt-wallis commented on #24
Consider loading this leaflet stuff using `<script>` tags in html. I think that will ensure they are loaded before continuing. See https://leafletjs.com/examples/quick-start/ for and example.

While we at it, AwesomeMarkers seem to now be better maintained here:
https://github.com/sigma-geosistemas/Leaflet.awesome-markers
Consider switching to this.

And let's use the latest version of Leaflet!

[2018-05-22 17:28] matt-wallis commented on #24
Also so a possible fix here: https://github.com/lvoogdt/Leaflet.awesome-markers/issues/57

[2018-05-23 16:52] matt-wallis commented on #24
https://github.com/SolidarityEconomyAssociation/open-data-and-maps/commit/10733e7d2fa2ff7078afa09c41028645933042fe follows advice in lvoogdt/Leaflet.awesome-markers#57

Fingers crossed it's a fix. Time will tell for this intermittent problem.

[2018-05-24 11:42] matt-wallis commented on #24
https://github.com/SolidarityEconomyAssociation/open-data-and-maps/commit/10733e7d2fa2ff7078afa09c41028645933042fe  may have fixed the issue with regard to awesome markers, but marker cluster is still causing problems.

[2018-05-24 17:27] matt-wallis commented on #24
Problem not seen since commit https://github.com/SolidarityEconomyAssociation/open-data-and-maps/commit/c0418e63dad52d51032bc23e4fb9ed0e1f25fc41
Closing -reopen if it reappears.

[2018-05-24 17:29] matt-wallis opened #68 "Update to latest version of Leaflet"
The one in use on the map-app is v. old!
See https://leafletjs.com/download.html

[2018-05-29 16:23] matt-wallis commented on #68
While we're at it, we should also upgrade to the latest versions of
- [AwesomeMarkers](https://github.com/lvoogdt/Leaflet.awesome-markers)
- [MarkerCluster](https://github.com/Leaflet/Leaflet.markercluster)
- [postal (event bus)](https://github.com/postaljs/postal.js)
- [font-awesome](https://fontawesome.com/)
- [lodash](https://lodash.com/), required by `postal`, but the `postal` docs say:

So, I

[2018-05-30 08:39] matt-wallis commented on #56
Various SocioEco maps:
- [Everything (I think, maybe?)](http://www.socioeco.org/solutions_en.html)
- [Public policies](http://www.socioeco.org/polpub_en.html)
- [Journalists (e.g. STIR):](http://www.socioeco.org/articles_en.html)
- [Sustainable development solutions](http://www.socioeco.org/solutions-onuodd_en.html)
- [Sustainable development public policies](http://www.socioeco.org/polpub-onuodd_

[2018-05-30 15:37] matt-wallis opened #69 "Make dataset icons configurable"
Currently, we use different icons (from font-awesome) for each dataset. These are hard-coded:
[code]
Better to configure them via `variants/<variant>/config.json`

But we want to use icons for more than just to distinguish between 2 datasets. In fact, we may *not* want to use them to distinguish between datasets at all! Instead, we want to use icons to distinguish between *types of initiative*.
Th

[2018-05-30 16:12] #68 closed, assigned to matt-wallis

[2018-05-31 11:34] matt-wallis commented on #67
We now have a configuration mechanism. It uses a command line parameter `variant` passed to make:
[code]
So now we know what variants are available, we can try one:
[code]
Now we have a list of the make targets to use.

[2018-05-31 11:34] #67 closed, assigned to matt-wallis

[2018-05-31 12:08] matt-wallis commented on #32
It would probably be better if the `About` button on the map-app launched a dialog which displayed text that was relevant to the specific variant (see #67) of the map.
This doesn't take away from the fact that the README needs updating.

[2018-05-31 13:38] matt-wallis commented on #24
Aaargh! Following an update to leaflet.markercluster 1.3.0, the problem is back. Ugh!
I've asked about it: https://github.com/Leaflet/Leaflet.markercluster/issues/441#issuecomment-393532325
Thanks to Jon for spotting it.

[2018-05-31 15:54] #24 closed, assigned to matt-wallis

[2018-06-14 15:36] matt-wallis opened #70 "When dereferencing a URI, can we get RDF directly from a triplestore?"
With the current implementation, we generate RDF (XML and Turtle) and deploy it to a server, from which it can be fetched when that URI is dereferenced. We also deploy the same triples to a triplestore.

Problems:
- We have two separate things to maintain

Can we set up content negotiation on the server (which handles the URI dereferences) to get the data directly from the triplestore? If so, we c

[2018-06-14 17:00] matt-wallis commented on #66
Note doc added, some general thinking about [sameAs](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/data/docs/SameAs.md)

[2018-06-19 15:48] Clara-dos-Santos commented on #56
Have a look at this: https://commonbound2018.sched.com/event/E3RV - we need to, if we haven't already, talk to these people.

@ColmMassey and @matt-wallis, did we ever have a conversation with the [Data Commons Co-operative](https://datacommons.coop/) people? Could one of you, maybe over the phone, remind me what, if anything, came out of that, please?

[2018-06-19 17:52] matt-wallis commented on #56
Comment by @Clara-dos-Santos move to https://github.com/SolidarityEconomyAssociation/open-data-and-maps-outreach/issues/43#issuecomment-398487729

[2018-06-20 08:17] matt-wallis commented on #56
[Mapping Community](http://mapping.community/2017/01/18/groups.html), created by Jeremy Kidwell, University of Birmingham.
See also SolidarityEconomyAssociation/open-data-and-maps-outreach#45

[2018-06-20 08:19] matt-wallis commented on #56
[Green Map](https://www.greenmap.org/) have helped communities make maps in 65 countries.

[2018-06-20 10:58] matt-wallis commented on #64
Done. See the data via the map at https://maps.solidarityeconomy.coop/dotcoop/

[2018-06-20 10:58] #64 closed, assigned to nobody

[2018-06-20 11:02] matt-wallis commented on #65
The matching is no perfect, but good enough. Details are available in the above commits :-)
There is some work to do to tidy up what was done for this short-term objective in this issue: see #66.

[2018-06-20 11:02] #65 closed, assigned to matt-wallis

[2018-06-20 11:08] matt-wallis opened #71 "Sort out redirection from w3id to SPARQL endpoint"
This is the one issue left outstanding from #58. The relevant comment there is https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/58#issuecomment-380117178 whose text is copied below:

---
Attempting to set up the redirection:
[code]
but this is not working:
[code]
whereas this does:
[code]
What's going on???

[2018-06-20 11:08] matt-wallis commented on #58
The remaining problem is being tracked in its own issue #71.

[2018-06-20 11:08] #58 closed, assigned to matt-wallis

[2018-06-20 11:28] matt-wallis commented on #55
### GreenMap

For a visual representation of a taxonomy, see [GreenMap's very lovely icons](https://www.greenmap.org/greenhouse/files/gms/GreenMapIcons_V3_Chart.pdf).
Also available as a [poster](https://www.greenmap.org/greenhouse/files/gms/GreenMap_IconsV3_Poster.pdf).

There's a [text description](https://www.greenmap.org/greenhouse/files/gms/Green_Map_Icons_V3_Deficons.pdf) of each icon.

[2018-07-09 16:19] ColmMassey commented on #56
http://hannahfestival.com/about-hannah-directory/ although I think that person is also involved with https://wesharethesameskiesblog.wordpress.com/ which I've been aware of for a while.

[2018-07-10 08:11] matt-wallis commented on #56
@ColmMassey, I can't find a map at this link. Am I missing something?

[2018-07-11 08:43] matt-wallis commented on #17
Done a while back. We now use map URLS like this:
https://maps.solidarityeconomy.coop/dotcoop/

[2018-07-11 08:43] #17 closed, assigned to nobody

[2018-07-11 08:47] matt-wallis opened #72 "Search map on initiative name"
We need a search box to allow the user to search for an initiative by name.
The result would be a list of matching initiatives that would allow some interaction to focus the map at the correct location, maybe changing zoom level? The icons for the found initiative(s) need to represent the fact that they are in the set of found things.

---
TaskJuggler
Amended effort for remaining work noted in htt

[2018-07-12 09:17] matt-wallis opened #73 "Introduce CSS framework into map app"
To go beyond the very basic functionality of the current map, we need a CSS framework, to make it easier to add new features, make them look good, and make them responsive (i.e. good on both mobile and desktop), see #25.
Strongly considering: https://www.w3schools.com/w3css/

This work involves some 'research' to see how the CSS framwork works (or interferes with) the current map software.

In the

[2018-07-12 10:01] matt-wallis opened #74 "Create 'about' information in the map"
We want an `About` button on the map that provides information about this version of the map.
This needs to be configurable, as each map will be different.
In the original map app, the `About` button followed a link to the `README.md` for the repo. This is both out of date (see #32) and not configurable.
We need to make use of the CSS framework (see #73) to do this.

---
#### TaskJuggler
TJ: effor

[2018-07-18 14:10] matt-wallis commented on #73
w3.css video: https://www.youtube.com/watch?v=PJHBKwbf4Us

[2018-07-19 10:30] matt-wallis commented on #25
The context menus are somewhat small and fiddly on mobile. The links are difficult to hit!

- [ ] Fix the fiddly context menus

[2018-07-19 10:37] matt-wallis opened #75 "Provide place on map-app UI for status messages"
Currently, the only status messages are displayed on the protecting veil.
We need somewhere for them that works without the protecting veil.

----
#### TaskJuggler
TJ: effort 4h

[2018-07-19 10:38] matt-wallis opened #76 "Remove protecting veil from map-app"
It doesn't serve a useful purpose as the map works fine event while the data is loading.
Also, if there is more than one data set to load, it gets cleared after the first is loaded - which is plain wrong.
Currently it doubles up as a place to put status messages, but we need a new one of those.

----
#### TaskJuggler
TJ: effort 1h
TJ: depends-on #75

[2018-07-19 12:01] matt-wallis opened #77 "Make map popup work well on all devices"
The current popup
![image](https://user-images.githubusercontent.com/15378101/42940717-5e702c1a-8b52-11e8-9d56-5394161c73ef.png)

is fiddly to use on mobiles. The links are difficult to select, and the text is small.

Consider opening a new w3.css widget (`Modal`, perhaps) as an alternative to the Leaflet marker popup.

[2018-07-19 12:24] matt-wallis opened #78 "Tidy up map context menu"
There is currently a context menu which is a left-over from old code:
![image](https://user-images.githubusercontent.com/15378101/42942079-b7d938a6-8b56-11e8-9ce2-99aec9edb255.png)

This does nothing and mentions Google.
It should be removed.

---
#### TaskJuggler
TJ: effort 1h

[2018-07-19 12:32] ColmMassey commented on #56
https://coopseurope.coop/development/projects-map

[2018-07-19 12:32] matt-wallis opened #79 "Separate map and data into different repositories"
For historical reasons, these started in one repo, when the prototype had various dependencies between the map and the data that are (mostly) no longer present.

It would be far better if the map development was in a repository of its own. Likewise data.

TODO: Figure out which directories should go where (maybe some stay in an open-data-and-maps repo?):
[code]

TODO: Can we move a directory to a

[2018-07-19 19:36] matt-wallis opened #80 "Create the architecture for map UI interactions"
There are features that need user interaction. For example:
- displaying search results to allow user to make selections
- selecting filter options

In these cases, we want to maintain the state set up by the user so that the user can make adjustments, or new selections from a list.

Consider using the sidebar for these UI elements.
Consider for each type of interaction (e.g. search results, or fi

[2018-07-20 11:39] ColmMassey commented on #56
https://kumu.io/DigLife/decentralized-tech

[2018-07-25 12:43] matt-wallis commented on #56
https://startnetwork.org/news-and-blogs/new-mapping-tool-aims-improve-decision-making-and-accountability

[2018-08-01 16:58] matt-wallis commented on #80
With the above commits, this is now done.

[2018-08-01 16:58] #80 closed, assigned to matt-wallis

[2018-08-01 17:01] matt-wallis commented on #73
We now have a sidebar and search box implemented using w3.css. So the framework has now been introduced.

[2018-08-01 17:01] #73 closed, assigned to matt-wallis

[2018-08-01 19:15] matt-wallis commented on #72
The map can be zoomed/panned to centre on the selected initiative using [map.setView](https://leafletjs.com/reference-1.3.2.html#map-setview)

[2018-08-01 19:28] matt-wallis commented on #72
ClusterMarker's [zoomToShowLayer](https://github.com/Leaflet/Leaflet.markercluster#other-group-methods) may also be useful.

[2018-08-15 09:15] SEAKatDarling commented on #56
https://peoplespowerstation.org/# - map of renewable energy projects in Oxfordshire, by the Low Carbon Hub

[2018-08-28 10:04] SEAKatDarling commented on #56
Scrapbook - map of litter in Scotland - https://www.scrapbook.org.uk/map/

[2018-08-28 10:49] matt-wallis opened #81 "Improve map sidebar colour scheme"
As pointed out by @SEAKatDarling in https://github.com/SolidarityEconomyAssociation/open-data-and-maps-outreach/issues/85#issuecomment-411051584, the green and teal clash!

[2018-08-28 11:10] matt-wallis opened #82 "Decide what icons to use"
This issue was prompted by a comment by @SEAKatDarling : https://github.com/SolidarityEconomyAssociation/open-data-and-maps-outreach/issues/85#issuecomment-411002582

Currently, the icons used are :

- [globe](https://fontawesome.com/icons/globe?style=solid) for initiatives from the dotcoop dataset, and
- [certificate](https://fontawesome.com/icons/certificate?style=solid), for the coops UK datase

[2018-08-28 11:22] matt-wallis opened #83 "Create key for map"
@SEAKatDarling commented in https://github.com/SolidarityEconomyAssociation/open-data-and-maps-outreach/issues/85#issuecomment-411002929 that the meaning of the icon colours was unclear. Very true.

The current colour scheme was a short-term aid for demonstrating aspects of the data/map to the audience at Open 2017!

For the record, the current meaning is:
- purple: initiative has website and is r

[2018-08-28 11:28] matt-wallis opened #84 "Extend map search to cover more than name of initiative"
@SEAKatDarling commented: https://github.com/SolidarityEconomyAssociation/open-data-and-maps-outreach/issues/85#issuecomment-411050216 that searching for 'Oxford' did not list all the initiatives in Oxford.

It would be good if there was a way to do this search. Some possibilities:

- expend the search to cover the addresses of initiatives, rather than just their names, or
- provide a mechanism fo

[2018-08-28 12:59] ColmMassey commented on #84
I think there may also be a bug here, as both the entries that appear with the 'Oxford' search term appear under the same name...

[2018-08-28 16:19] matt-wallis opened #85 "How to present on the map information about an initiative"
Comment from @SEAKatDarling at https://github.com/SolidarityEconomyAssociation/open-data-and-maps-outreach/issues/85#issuecomment-411046303:

The current map is designed as a technical demo. So, the user-interface concentrates on features that are designed around demonstrating the benefits of LOD in a quite technical way. As pointed out above, this needs a re-think.

---
#### TaskJuggler
TJ: effor

[2018-08-29 10:08] matt-wallis commented on #81
@SEAKatDarling - it's now black on white. No more green/teal clashes! See https://internal.solidarityeconomy.coop/maps/dotcoop/
Please re-open the issue if you're not happy with the change.

[2018-08-29 10:08] #81 closed, assigned to matt-wallis

[2018-08-29 10:21] matt-wallis commented on #84
@ColmMassey wrote:

There are two initiatives in the dotcoop dataset with the same name - one in Bristol, one in Hayes (neither in Oxfordshire :-) ). So, no bug. The original CSV data is [here](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/data/dotcoop/domains2018-04-24/original-data/Clean-UK.csv), and contains:
[code]

[2018-08-29 10:36] ColmMassey commented on #84
Gotcha.

[2018-08-29 12:24] matt-wallis commented on #84
Some thoughts on the comment by @SEAKatDarling that triggered this issue:

### Adding geographic searches
It is definitely useful for the user to be able to search for a geo location by name, and have the map zoom there.
If we do this, then there *must* be a way for the user to indicate what type of search they are doing - searching for geo location, or searching for initiatives. Otherwise, the ma

[2018-08-29 12:48] matt-wallis commented on #84
### Geo-search using GeoNames
[GeoNames](https://www.geonames.org/) provide a [web service](http://www.geonames.org/export/web-services.html), and there is a [Leaflet client library](https://github.com/consbio/Leaflet.Geonames). This is potentially brilliant to ease the implementation of a geo-search feature, and to do so in a way that works anywhere in the world.

This should be the first thing i

[2018-08-30 08:26] matt-wallis commented on #78
Why didn't the comment "Fixes #78" in b419500 cause this issue to close automatically?

[2018-08-30 08:26] #78 closed, assigned to matt-wallis

[2018-08-30 08:41] matt-wallis commented on #84
### Do we really want two search boxes?
The comment https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/84#issuecomment-416933229 suggests using two search boxes. I'm not sure I like this. An alternative would be to offer a choice (in the sidebar that displays the search results) to the user as to which results she sees: geo-locations, initiatives, or both.

This could be imp

[2018-08-31 09:14] ColmMassey commented on #56
A small note: on a former EU project, P2Pvalue, we mapped commons initiatives in general, but more relevant to this, the project also performed a mapping specifically on Catalan cases (1,300!) including both commons initiatives and cooperatives: http://directori.p2pvalue.eu. I guess there will be overlap with pamapam, but just to add to the diversity of coop maps out there.

For [P2P Models](http:

[2018-09-04 09:42] matt-wallis opened #86 "Link to data from Open Data Communities"
[Open Data Communities](http://opendatacommunities.org/home) is

One example of data published there is [English Indices of Deprivation 2015 - LSOA Level](http://opendatacommunities.org/resource?uri=http%3A%2F%2Fopendatacommunities.org%2Fdata%2Fsocietal-wellbeing%2Fimd%2Findices), which has been published on a map: [Indices of Deprivation 2015 explorer](http://dclgapps.communities.gov.uk/imd/idmap

[2018-09-04 09:43] matt-wallis commented on #56
Very interesting, @ColmMassey. I'd like to link to the underlying dataset from our LOD. See #86.

[2018-09-11 12:10] matt-wallis opened #87 "Move domain_to_homepage to the library"
The function is defined in [dotcoop/domains2018-04-24/converter.rb](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/data/dotcoop/domains2018-04-24/converter.rb), but should be put into the [se_open_data library](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/tree/master/data/tools/se_open_data/lib/se_open_data) for reuse ... in an ideal world.

[2018-09-11 16:41] matt-wallis opened #88 "Lack of SAMEAS file causes fatal error"
When generating LOD:
[code]

[2018-09-11 16:42] #88 closed, assigned to matt-wallis

[2018-09-18 11:19] matt-wallis commented on #72
Still to do: make the selected marker visibly different on the map, and un-cluster it if necessary.

[2018-09-18 11:22] matt-wallis commented on #77
Instead of using a w3.css modal, could we just feed the existing popup with HTML that contains W3.CSS components (e.g. buttons, etc?)

[2018-09-18 11:30] matt-wallis commented on #43
See also [How to Publish Linked Data on the Web](http://wifo5-03.informatik.uni-mannheim.de/bizer/pub/LinkedDataTutorial/#deref), section "What should I return as RDF description for a URI?"

[2018-09-18 11:31] matt-wallis commented on #44
Closing as duplicate of #43

[2018-09-18 11:31] #44 closed, assigned to matt-wallis

[2018-09-18 11:54] matt-wallis opened #89 "Add phone numbers to our LOD"
Originally raised in https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/35#issuecomment-373419071:

See [VCARD Communications Properties](https://www.w3.org/TR/vcard-rdf/#Communications_Properties).

But how do we create the contianed elements, using the `parseType="Resource"` as per [examples](https://www.w3.org/TR/vcard-rdf/#Examples). e.g.
[code]
See [W3 rdf-syntax of par

[2018-09-18 11:57] matt-wallis opened #90 "Convert Standard Industrial Codes into Linked Data"
Issue originally raised in https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/35#issuecomment-373436194:

Use Standard Industrial Codes (SIC) provided in coops UK orgs data. Consider transferring to essglobal Activities?

There's a gov.uk [CSV to lookup SIC](https://www.gov.uk/government/publications/standard-industrial-classification-of-economic-activities-sic)

The corresp

[2018-09-18 11:59] matt-wallis opened #91 "Use the Ownership Classification column of the Coops UK orgs data"
Issue originally raised in https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/35#issuecomment-374648713

To see which values can appear in this column, and how often they do so:
[code]
There does not see to be an obvious way to map these onto anything in the [essglobal standard vocab](https://github.com/essglobal-linked-open-data/map-sse/tree/develop/vocabs/standard)

[2018-09-18 12:00] matt-wallis commented on #35
All points raised in this issue that have not yet been implemented have issues created for them (see the links above) #89 #90 #91
Closing

[2018-09-18 12:00] #35 closed, assigned to matt-wallis

[2018-09-18 12:10] matt-wallis opened #92 "Add a configurable title to the map"
A map should have a title.
How should this appear on the UI? Need to think about scarce screen space on mobile devices.
Presumably the title should be added to config.json for each map variant.
There are two components to a title:
- The title that appears on the map app display
- The title that appears in the browser tab. Currently:
[code]

[2018-09-20 10:28] ColmMassey opened #93 "website link in Newcastle pilot broken"
Follow
https://internal.solidarityeconomy.coop/maps/newcastle-pilot/
Search for blaydon
Select The Blaydon Shed
Click on The Blaydon shed icon and then click the website url.
It generates a 404
as has jumped to
https://internal.solidarityeconomy.coop/maps/newcastle-pilot/www.blaydonshedswapstation.wordpress.com

where www.blaydonshedswapstation.wordpress.com
is a functioning website.

[2018-09-20 10:45] matt-wallis commented on #93
The cause of this is 'bad' input data: There's no http:// prefix on the website in the CSV.

My view is that the correct fix is to change the input data. The alternative leads us into a path of cunning heuristics to fix incorrect URLs. Do you agree @ColmMassey ?

[2018-09-20 11:10] ColmMassey commented on #93
Most people expect browsers to auto interpret www.whatever.com correctly. I'm not sure what they do. Probably look for https://www.whatever.com and if that fails look for http://www.whatever.com
Is there a standard way of interpreting them?

[2018-09-20 11:49] matt-wallis commented on #93
So you think we need to handle this kind of input? 99% of the websites in the Newbridge CSV do not have this problem.

i don't know. As you say, I expect that modern browsers take a trial and error approach along the lines you suggest. I wouldn't want to implement that in our javascript: much better to get the correct data in the LOD. That way it's usable by anyone who reads the LOD

[2018-09-20 12:02] ColmMassey commented on #93
Ok, so can we identify it's invalid on import and gernerate an error message as you did for the other fialed records.

[2018-09-20 12:53] matt-wallis opened #94 "Improve error checking and reporting on ill-formed website URLs"
If we get a website specified without a `http(s)://` prefix, we should not create a triple for it, and report the error.
This is the agreed fix to #93.

[2018-09-20 12:56] matt-wallis commented on #94
Looking at the `homepage` method in [data/newcastle-pilot/2018-08-15/converter.rb](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/data/newcastle-pilot/2018-08-15/converter.rb), this is already being done for Newbridge.
So, this needs to be generalised so that we do it fall all data sources.

[2018-09-20 13:00] matt-wallis commented on #93
The reason we're seeing this example on the newbridge map is that the newbridge data was not deleted from the triple store before its most recent update. So, an old triple (with the homepage) remains in the triplestore.
The error checking and reporting *is* already being done for newbridge - the report.csv sent to them already contains the message
[code]

So the fix for this bug is to delate the o

[2018-09-20 13:28] ColmMassey commented on #25
Has this been addresses now by using the new libraries?

[2018-09-20 14:07] ColmMassey commented on #69
Is there some improved configurabilty work that can be done before decisions are made about what 'hooks' we wish to use to decide on what icons to display? Or do we need to wait until we'd have discussions with our 'clients'?

[2018-09-20 14:23] matt-wallis commented on #25
I think so. The remaining issue that I'm aware is covered by #77. So closing this.

[2018-09-20 14:23] #25 closed, assigned to matt-wallis

[2018-09-20 14:28] matt-wallis commented on #69
I can't think of any. The next step is to analyse requirements (from 'clients' and by looking more deeply into what is outlined above) and work out a solution. Did you have something specific in mind?

[2018-09-20 15:13] ColmMassey commented on #69
Needs some deeper thinking, with clients, both internal and external.

[2018-09-24 15:22] ColmMassey opened #95 "Duplicate records in Newcastle pilot"
More then likely raw data error, but there are two copies of Comfrey Project on the map.
Comfrey Project

Does the error repot identify and report these. If so, happy to close this straight away.

[2018-09-24 16:47] ColmMassey opened #96 "Autocomplete when searching for initiatives on a map"
As we type in search queries for initiatives, it would help if all currently matching candidates were presented as soon as each key is pressed.

[2018-09-24 17:01] ColmMassey opened #97 "Requests to include initiatives on map can be made from map interface"
When exploring a map there is a link for anyone interested in submitting a suggestion for the map.

1) The link takes you to a page with email address and a list of questions you should answer when emailing the suggestion.
2) The link takes you to a page with a form which guides you through a series of questions and automaticaly submits the suggestion for an inititative.
3) The same UI used by map

[2018-09-25 10:32] matt-wallis opened #98 "Make the triplestore the 'master' database"
This is part of a possible solution to SolidarityEconomyAssociation/open-data-and-maps-outreach#89.

### Current situation
The CSV is effectively the 'master'. To publish LOD, we
- create LOD from CSV
- clear out any existing triples from the named graph in the triplestore
- use the newly created LOD to bulk-update the triplestore

### Proposal with triplestore as 'master'
Allow highly-granular op

[2018-09-26 14:20] matt-wallis opened #99 "Use let and const instead of var in all javascript"
But, first check that there are no browser compatibility issues.
I expect that we are already using ECMAScript 6 within the existing code, so using let and const won't change which browsers work with the code.

[2018-09-26 16:10] matt-wallis commented on #57
Interesting article: [CSV: An Encoding Nightmare](https://donatstudios.com/CSV-An-Encoding-Nightmare). Somewhere in there may lie the solution ...

[2018-09-26 16:58] #57 closed, assigned to nobody

[2018-09-26 17:02] matt-wallis commented on #57
In conclusion: the source of the problem was in the way RDF files were being read, when they are to be placed in `<pre>` tags for the generated HTML for each initiative.
They were being read as binary (doh!), but they are in fact UTF-8 encoded text. The result was that when the RDF included any characters that were not ASCII-7bit, they were interpreted as ASCII-8 bit when the (binary) bytes were c

[2018-09-27 16:18] matt-wallis commented on #95
Yup - there are 2 of these in the input data. They have different information in them (the `Details` column in the CSV is different), so they really need to be merged in the input data.

No, there's no check for same name at same postcode.

What to do? There is currently no plan to get another drop of the CSV data. But at least this issue tracks the fact that this needs to be sorted out at some po

[2018-09-27 17:17] matt-wallis commented on #92
That last commit deals with the title in the browser tab, but not in the main display of the map app.

[2018-09-27 17:35] matt-wallis commented on #38
In order to

we first need to check if that exact location is being passed to the map-app.
Currently, the map-app is given data in simplified json format from the web server.
By 'simplified', I mean that it is not the raw JSON-LD that comes from the SPARQL query.
Perhaps the map-app should be receiving the raw JSON-LD?
The reason for doing this would be to 'cut out the middle man', where in this c

[2018-09-27 18:07] matt-wallis opened #100 "Make the selected initiative clearly distinguishable on the map"
We need to have a concept of "the selected initiative". There are various use cases where this is required:
- when a particular initiative has been selected from the list of search results #72
- when an initiative is selected on the map, by clicking on a marker e.g. #85

The selected initiative should be clearly distinguishable from others. It should not be within a 'cluster' (a number of the map

[2018-09-27 18:08] matt-wallis commented on #85
The detailed information about an initiative currently is available only via a separate tab in the browser which loads the html page which was generated along side the RDF for the initiative.

It would be better if there was detailed information about an initiative that was more integrated into the map-app itself, perhaps in the sidebar.
This information, displayed in the sidebar, may need to vary

[2018-09-27 18:23] matt-wallis commented on #100
There are comments in #72 that may be of use when implementing this feature.

[2018-09-27 18:24] matt-wallis commented on #72
The remaining work for this feature is covered by #100, so closing.

[2018-09-27 18:24] #72 closed, assigned to matt-wallis

[2018-10-02 08:15] matt-wallis commented on #56
This isn't a map, but an article about how maps are being used:
[How Tenants Use Digital Mapping to Track Bad Landlords and Gentrification](https://www.yesmagazine.org/people-power/how-tenants-use-digital-mapping-to-track-bad-landlords-and-gentrification-20180112)

[2018-10-03 15:13] matt-wallis opened #101 "Investigate query.rq file for newcastle-pilot"
This looks wrong:
[code]
Why is `dotcoop` in there?

This begs the questions:
- When is this file created?
- Is it used by the map-app? Or is it just for testing?
- If it's used at all, even for testing, then it needs to be fixed.

[2018-10-03 15:38] matt-wallis opened #102 "Finalise URIs for newcastle pilot"
This requires a couple of things:
- make decision what they should look like
- if using w3id.org (recommended), then submit the appropriate pull request

At the time of writing, we're using our fork of `w3id.org` to do the redirections, so the UrIs start like this:
[code]

At some point, we need to drop the use of our fork:
[code]
And maybe drop the word pilot:
[code]
The remainder of the URI is f

[2018-10-08 11:37] Clara-dos-Santos commented on #56
@matt-wallis I was hoping to draw Doireann's and Audrey's attention to this issue by assigning them, but for some reason, I can't. Do they not have access to this repository?

[2018-10-09 15:14] matt-wallis commented on #98
There a document [WebId for Authentication](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/docs/Technical/webid-for-authentication.md) which currently includes investigations.

[2018-10-10 15:09] #76 closed, assigned to matt-wallis

[2018-10-10 15:47] matt-wallis opened #103 "map-app should receive data as RDF"
Currently, the web server makes the SPARQL query to the triple store using [getdata_using_sparql.php](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/map-app/www/services/getdata_using_sparql.php). It requests a json response:
[code]
The `json` is then converted into simple json with the following keys for each initiative:
[code]

It would be more flexible if RDF wer

[2018-10-11 13:13] matt-wallis commented on #100
Consider:
Have a marker that  is used solely to represent the selected initiative.
Call it `selected initiative marker`.
 It may have its own distinctive [icon](https://leafletjs.com/reference-1.3.4.html#icon), which may be bigger than usual, or have a distinctive shadow. The selective initiative marker should:
- be on top of all others (z-index)
- not be a member of a cluster

When an initiative

[2018-10-16 12:13] matt-wallis commented on #103
On looking more closely, I'm wondering if we are getting JSON-LD from the SPARQL query, or just plain JSON. Hmm.

Here's an example of a  SPARQL query used by [getdata_using_sparql.php](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/map-app/www/services/getdata_using_sparql.php):
[code]

[2018-10-16 12:23] matt-wallis commented on #85
Currently, we are not getting the full data for an initiative into the map-app.

Here's and [example of the SPARQL query](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/map-app/www/services/dotcoop/query.rq) made by the web server, and the PHP script [getdata_using_sparql.php](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/map-app/www

[2018-10-16 14:21] matt-wallis opened #104 "Upgrade to latest version of Virtuoso"
We are using Version 06.01.3127, an old unsupported version. We should be using the latest [Virtuoso Open-Source Edition](http://vos.openlinksw.com/owiki/wiki/VOS/).

Rather than attempt to upgrade the existing server, it is probably safer to set up a new server with the new version of Viruoso. In doing so, we should update [the documentation](https://github.com/SolidarityEconomyAssociation/open-d

[2018-10-16 15:45] matt-wallis commented on #103
Very useful comment [on stackoverflow](https://stackoverflow.com/a/27033528/685715) clarifying the use of JSON-LD, and pointing out that it is not what we should expect from a SPARQL SELECT query, which is what we have (e.g. see [dotcoop sparql query](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/map-app/www/services/dotcoop/query.rq)).

The JSON we get from our `S

[2018-10-16 16:01] matt-wallis opened #105 "We probably should not load essglobal into each Named Graph"
Currently, we load essglobal into each named graph. The place where this is implemented is in the [triplestore.mk makefile](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/data/tools/se_open_data/makefiles/triplestore.mk). In particular, the lines:
[code]
This seems like a bad idea! What is the reason for doing this? I suspect it goes back to early experimentations w

[2018-10-17 08:03] matt-wallis commented on #100
Something else to try out for selected markers: Permanently show the tooltip (i.e. the name of the initiative). See [Leaflet ToolTip](https://leafletjs.com/reference-1.3.4.html#tooltip), option `permanent`.

[2018-10-17 10:07] matt-wallis commented on #100
## How does an initiative become selected/deselected?
#### By clicking on its Marker
- If the `ctrlKey` is pressed on click, then the initiative is added to the set of selected initiatives.
- Otherwise, current selections are de-selected.

N.B Muli-selection is desktop-only, but that should be fine for the 'advanced' feature of multiple selections.

Implementation note: Leaflet's MouseEvent provid

[2018-10-17 11:58] matt-wallis commented on #100
## Implementation

The history is maintained and accessed by `presenter/sidebar/search.js`. This is the obvious place to handle *all* events relating to search results and initiative selections. But it needs to be renames to reflect this: `presenter/sidebar/sse_initiatives.js`.

Similarly, the module currently called `view/sidebar/search.js` should be renamed `view/sidebar/sse_initiatives.js`.

In

[2018-10-24 08:20] ColmMassey opened #106 "Make it possible to configure how readily map icons are merged into circles."
(moving from email thread)
"What control do we have over when the numbered circles split/merge, and when all the bottom level icons are displayed?"

What are the parameters available to describe how the map decides when to cluster icons into a disk?
At the moment (24th Oct) all the maps seem too sparesly populated. Can we change that, so it merges icons and disks less frequently? It the extreme, i

[2018-10-25 09:06] matt-wallis commented on #106
We use the [Leaflet.markerCluster library](https://github.com/Leaflet/Leaflet.markercluster). Settings are documented there.

Before doing anything about this, we need to reach some kind of consensus that the current behaviour is not good enough - I'm yet to be persuaded of that :-)

[2018-10-28 21:16] ColmMassey commented on #106
It does appear from a quick look at the library docs that there is a lot of flexibility in how this can be done.

I have two issues at the moment.
The first is that the clustering is set too high now, so that the maps are always very sparsely populated. In the absense of different icon types, the only information we have before selecting an icon is distribution/density, which is not displayed well

[2018-10-30 08:40] matt-wallis commented on #106
I don't follow this. You can't select an icon while it is still clustered. I must be missing something.

@ColmMassey Could you describe a use-case (or 2, if needed to illustrate the above points)?

[2018-10-30 09:05] ColmMassey commented on #106
I think my powers of description are insufficient. I'll demonstrate next time we're on a map together. It is not urgent.

[2018-10-30 17:49] matt-wallis commented on #74
Things have moved on a bit ... the About info will now be put in the sidebar.

[2018-10-31 09:26] ColmMassey commented on #77
Visualising the initiative info in the side bar now, works well on large screen, but now on the mobile, when in map view there are no clues as to what the inititative is. As there is no mouse hover option, the only way seems to be to get out of map view to the side panel again. So perhaps if there is no hover option for the device, it should display what would be displayed when hovering?

[2018-10-31 09:38] ColmMassey commented on #100
Looking good.
Large Screen Feedback:
The history is working nicely - quite powerful.
It creates an expectation that the map should zoom to visualise those selected in the remembered search. This however may not be appropriate. What might a zoom to selected option look like?
Mobile Feedback:
When in the sidebar, can the icon to touch to return to map view be a map icon?
See [zoom to selected idea h

[2018-10-31 13:57] SEAKatDarling commented on #56
Newly launched Real Bread Map - https://www.sustainweb.org/realbread/map/

[2018-10-31 14:26] matt-wallis commented on #77
@ColmMassey That's a good point, and so we discussed this on our phone call today. We agreed that it might be good if, on a device with touch, and no mouse:
- a 'short' touch on an initiative's Marker causes the tooltip to be displayed.
- a 'long' touch shows that initiative in the sidebar.
Of course, this begs the question of whether these events can reliably be detected across browsers and mobil

[2018-11-01 08:20] matt-wallis commented on #85
During a chat with @ColmMassey we agreed that the initiatives sidebar needs a button that will cause the map to be zoomed and panned to the initiative(s) that are listed in the sidebar.

[2018-11-01 17:10] matt-wallis opened #107 "Sort out character encoding issues from CSV"
There are examples in the newcastle-mapjam data, imported via CSV from a google spreadsheet, as raised by @Clara-dos-Santos in https://github.com/SolidarityEconomyAssociation/open-data-and-maps-outreach/issues/123#issuecomment-435022947

Need to establish what character encoding is being used in the g spreadsheet - (sigh, one of the 'joys' of CSV files is that they don't declare their character en

[2018-11-01 18:07] DoireannLalor opened #108 "One of us to attend CAG strategy night 6:30-8:30, 28th November"
Rhiannon would like one of us to attend the CAG strategy night, representing The Map! Need to decide which of us and RSVP to her.

[2018-11-03 19:28] matt-wallis commented on #74
In a soon-to-be committed change, we're using [d3-fetch](https://github.com/d3/d3-fetch) to load an HTML fragment from `configuration/about.html`.

This has the side effect that **we now need to include a polyfill for the fetch API**, since support for the fetch API is sketchy from the likes of Microsoft IE. The [github fetch polyfill](https://github.com/github/fetch) seems to be [well recommended

[2018-11-06 09:13] ColmMassey commented on #38
@matt-wallis How big a job remains to complete this Issue?
Also, where is the latest spec for the csv format that is now supported?

[2018-11-06 13:15] matt-wallis commented on #38
@ColmMassey - Here is the [ruby definition of SeOpenData::CSV::Standard::V1](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/data/tools/se_open_data/lib/se_open_data/csv/standard.rb).

To interpret what this means, view the above link. Here's an extract starting at line 20:
[code]
So, the standard CSV column headings include "Identifier", "Name", Description", "Legal

[2018-11-07 15:20] matt-wallis opened #109 "Please record here interesting applications that use Linked Data"
This issue arose from a need to be able to give people examples of Linked Data in action, especially examples which might be familiar to people who have probably not even heard of Linked Data.

A question  was put to the public-lod forum in the thread [Examples of applications built on LOD](https://lists.w3.org/Archives/Public/public-lod/2018Nov/0000.html).

[2018-11-07 15:29] ColmMassey commented on #109
https://opencorporates.com/ publishes open data about companies all over the world. They use many LOD sources, but their main interface isn't LD.

[2018-11-07 15:29] matt-wallis commented on #109
# BBC Sports coverage

Olympic Games have quite a lot of data! There are many opportunities to link this data: between competitors, the events they compete in, the schedules, existing world records, and games records, the teams from each country, historical information about how athletes have performed in the past, etc. etc.

The BBC used Linked Data to do all of this, with near-real-time updates

[2018-11-07 15:34] matt-wallis commented on #109
# Luxembourg legislation

Thanks to Thomas Francart for https://lists.w3.org/Archives/Public/public-lod/2018Nov/0001.html

The portal for the publication of legislation in Luxembourg
http://legilux.public.lu/ is entirely built on an RDF "legal knowledge
graph" of the legislation (legislations are linked through typed links
amends/repeals/consolidates/transposes etc.).
The portal for data access an

[2018-11-07 15:36] matt-wallis commented on #109
# Finland: cultural heritage "Sampo" semantic portals

Thanks to Hyvönen Eero: https://lists.w3.org/Archives/Public/public-lod/2018Nov/0003.html

The system is based on academic research and publications reported here https://seco.cs.aalto.fi/applications/kirjasampo/ but is nowadays fully maintained by the Public Libraries.

[2018-11-07 15:38] matt-wallis commented on #109
# Apple Siri uses Wikidata

Thanks to Ettore RIZZA: https://lists.w3.org/Archives/Public/public-lod/2018Nov/0004.html

uses Wikidata
<https://lists.wikimedia.org/pipermail/wikidata/2017-July/010919.html>?

[2018-11-07 15:42] matt-wallis commented on #109
# access to UK HE research equipment

http://equipment.data.ac.uk/

Thanks to Christopher Gutteridge: https://lists.w3.org/Archives/Public/public-lod/2018Nov/0007.html

[2018-11-07 15:43] matt-wallis commented on #109
# Organisation Profile Documents
http://opd.data.ac.uk/

Thanks to Christopher Gutteridge: https://lists.w3.org/Archives/Public/public-lod/2018Nov/0007.html

[2018-11-07 15:45] matt-wallis commented on #109
# IOS Press: LD Connect

http://ld.iospress.nl/

Thanks to Krzysztof Janowicz: https://lists.w3.org/Archives/Public/public-lod/2018Nov/0008.html

[2018-11-07 15:47] matt-wallis commented on #109
# The City of Winnipeg's neighborhood NOW site

Thanks to Mike Bergman: https://lists.w3.org/Archives/Public/public-lod/2018Nov/0009.html

customer-facing portal for interactive recreational, social, and
community data of interest to citizens, and a related and award-winning
sustainability and social well-being site maintained by United Way of
Winnipeg and other partners [2], are based on RDF, OWL

[2018-11-07 15:48] matt-wallis commented on #109
# Library of Congress of Chile

Thanks to Francisco Cifuentes Silva: https://lists.w3.org/Archives/Public/public-lod/2018Nov/0010.html

[2018-11-07 15:55] matt-wallis commented on #109
# The Senate of The Republic of Italy
Thanks to Davide Palmisano: https://lists.w3.org/Archives/Public/public-lod/2018Nov/0011.html

http://dati.senato.it full of data related to senators parliamentary
activity.

[2018-11-07 15:56] matt-wallis commented on #109
# UK Photonics

Thanks to Simon Cox: https://lists.w3.org/Archives/Public/public-lod/2018Nov/0015.html

[2018-11-07 15:58] matt-wallis commented on #109
# Geomii Parking app
 (find a parking space)

Thanks to Simon Cox: https://lists.w3.org/Archives/Public/public-lod/2018Nov/0015.html

[2018-11-07 15:59] matt-wallis commented on #109
# UK Crime map

Thanks to Simon Cox: https://lists.w3.org/Archives/Public/public-lod/2018Nov/0015.html

[2018-11-07 16:00] matt-wallis commented on #109
# myExperiment

Thanks to Simon Cox: https://lists.w3.org/Archives/Public/public-lod/2018Nov/0015.html

[2018-11-07 17:09] matt-wallis opened #110 "Map very slow to load, and has other anomalies"
This applies to the build of the map https://internal.solidarityeconomy.coop/maps/newcastle-mapjam/ which was deployed this morning.

@ColmMassey has experienced these problems using Firefox on Windows. Which version of Firefox are you using?

Others at NewBridge have also experienced problems.

I cannot reproduce these problems - it may well be confined to those with slow internet connections.

[2018-11-07 17:11] matt-wallis commented on #110
Might this be caused by a Require.js timeout in loading modules? See https://requirejs.org/docs/api.html#config-waitSeconds on setting the timeout.

[2018-11-08 12:41] VersteegenAudrey opened #111 "Open source online survey tools"
After a super quick search - this article sums it up the best. What do you think would be the best of the 4?
LimeSurvey comes up the most often, but reading this I am wondering whether JDEsurvey is better? But it may come down to tech stuff I am not familiar enough with.

[2018-11-08 12:55] matt-wallis commented on #111
which article? :-)

[2018-11-08 13:09] VersteegenAudrey commented on #111
Darn.
This one: https://opensource.com/article/17/2/tools-online-surveys-polls

[2018-11-08 16:10] ColmMassey commented on #100
This works. Closable?

[2018-11-08 16:22] matt-wallis commented on #100
We still need to add the button to the sidebar that zooms/pans to the initiative(s) in the sidebar. Or is that a different issue?

[2018-11-08 16:28] ColmMassey commented on #100
Ok, lets keep it open until that is there.
Slighty related. On a mobile, the close sidebar button is very small. It requires care not to press the settings button beside it. So either, can we make it slightly larger, or move the other button away, to the other side, of the bar, perhaps?

[2018-11-08 16:30] matt-wallis commented on #100
Can you raise a separate issue for this?

[2018-11-08 16:35] ColmMassey opened #112 "Close sidebar button too small on mobile"
On a mobile, the close sidebar button is very small. It requires care not to press the settings button beside it. So either, can we make it slightly larger, or move the other button away, to the other side, of the bar, perhaps

[2018-11-08 17:35] matt-wallis commented on #110
I have hooked my laptop up to a 3G iPhone in order to attempt to test on a slow connection. But the map works fine. So I can't reproduce the problem. :-(

[2018-11-08 17:37] matt-wallis commented on #111
I asked a question on the CoTech forum:
https://community.coops.tech/t/foss-survey-questionnaire-tools-available-in-cloud/1115

[2018-11-09 10:55] ColmMassey commented on #110
I guess we need to leave it until it reappears. Next time we hook up, lets test Jutsi screen sharing. If is is still faky, let's try Zoom screen sharing. Need to have reliable ways of testing remotely.

[2018-11-13 09:48] matt-wallis commented on #74
The about info for the NewBridge map could be based on this:
https://docs.google.com/document/d/129rzZfdClTwKGVIB7HGVZVui0tDO2m-h2FmAkwOuIik/edit

[2018-11-13 11:42] ColmMassey commented on #74
We could pop it in as is to see how it looks. It needs to be 'owned' by them though.

[2018-11-13 20:08] ColmMassey opened #113 "Auto find geo positions outside UK"
If we don't have UK post codes or lat&long, what options are there to auto find lats and longs??

[2018-11-13 20:09] ColmMassey commented on #113
Short term options are to use a batch conversion tool like https://csv2geo.com
to generate lats and longs. They charge about $20 for 5000 records. Cost would be in preparing the data, but probably very similar preparation to what's needed anyway.

Long term, is there an LOD method that will find lats and longs if they are not provided and don't have UK postcodes.

[2018-11-13 20:09] ColmMassey commented on #113
https://stackoverflow.com/questions/16737653/get-latitude-and-longitude-of-a-place-dbpedia
https://wiki1.hbz-nrw.de/display/SEM/SPARQL+Examples

Some links discussing possible LOD options.

[2018-11-14 15:13] matt-wallis commented on #113
This is an interesting resource: https://index.okfn.org/dataset/postcodes/
You can see which countries provide postcode data mapped to geolocation, and what the license is, and various other useful things. The bad news is that, according to this resource,  this information is not readily available for most of the world.

Then there's GeoNames: https://www.geonames.org/

which is worth further inve

[2018-11-20 09:35] matt-wallis commented on #110
Browser detection should be added to the code.
See https://stackoverflow.com/questions/29046635/javascript-es6-cross-browser-detection

[2018-11-20 09:45] matt-wallis commented on #90
Note that ESSGLOBAL uses United Nations Standard Products and Services Codes (UNSPSC). See:
- [ESSGLOBAL Technical Guidelines](https://github.com/essglobal-linked-open-data/map-sse/blob/develop/doc/2014-07-ESSglobal_interop_guidelines.pdf)

[2018-11-20 09:48] matt-wallis commented on #70
Se related [question on Virtuoso forum](https://community.openlinksw.com/t/html-views-for-rdf-subjects-in-virtuoso-opensource/325/2). Looks like we should be able to use Virtuoso Faceted Browser to solve this.

[2018-11-20 14:38] matt-wallis commented on #111
Hi @VersteegenAudrey - is there anything more to do for this issue? If not, please close it. Thank you.

[2018-11-20 14:41] matt-wallis commented on #93
@ColmMassey - anything left to do? If not, please close. Ta

[2018-11-20 14:49] matt-wallis commented on #113
Changed label, as this will be done when creating the data, not by the mapping software.

[2018-11-20 14:54] matt-wallis commented on #108
Moved to SolidarityEconomyAssociation/open-data-and-maps-outreach#133

[2018-11-20 14:54] #108 closed, assigned to DoireannLalor, VersteegenAudrey

[2018-11-20 15:18] #93 closed, assigned to matt-wallis

[2018-11-20 17:03] matt-wallis opened #114 "Tidy up map js and css package"
The build is done using `r.js`. Currently, it includes obsolete stuff. It should not.
To see what's there, take a look at the output of the build process, e.g.
[code]
and look at the built dir:
[code]

[2018-11-21 16:05] matt-wallis commented on #74
Implementation note: Perhaps we should use https://github.com/requirejs/text to load the about HTML.
Note the use of `!strip` to leave only what is in the `<body>` of the document.

[2018-11-22 10:17] #114 closed, assigned to matt-wallis

[2018-11-22 11:20] #111 closed, assigned to VersteegenAudrey

[2018-11-22 14:07] matt-wallis commented on #74
Note to self: that commit above was on the about-sidebar branch!

[2018-11-26 11:08] SEAKatDarling commented on #56
Map of voluntary organisations that have been awarded Investing in Volunteers mark of excellence - https://iiv.investinginvolunteers.org.uk/iiv-achievers-club/map

[2018-11-27 12:30] ColmMassey opened #115 "Improve history navigation and panel close buttons"
"I wouldn't have noticed that I could go forwards and backwards in the history if you hadn't suggested it. After seeing it suggested, it was easy to work out how."

What can be done to make this more obvious for the first time user.

"On a mobile, the close sidebar button is very small. It requires care not to press the settings button beside it. So either, can we make it slightly larger, or move

[2018-11-27 12:31] ColmMassey commented on #115
See https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/100#issuecomment-437060558 and https://github.com/SolidarityEconomyAssociation/open-data-and-maps-outreach/issues/123#issuecomment-442018433

[2018-11-27 15:45] matt-wallis opened #116 "Auto-zoom map to specific area when it is first displayed"
Currently, the map-app shows the entire UK when it is started. For regional maps, we want to zoom into that region when the map starts.

This was identified as a specific requirement for the Oxford map at a meting today with @Clara-dos-Santos @SEAKatDarling and @ColmMassey.

[2018-11-27 15:46] matt-wallis opened #117 "Restrict area to which map can be zoomed out"
For some local maps, we want to prevent the map from being zoomed out beyond specified limits.

This was identified as a specific requirement for the Oxford map at a meting today with @Clara-dos-Santos @SEAKatDarling and @ColmMassey.

This is closely related to #116.

[2018-11-27 16:48] matt-wallis opened #118 "Can the map work well as a 'tab' on a page with other 'tabs'?"
We may want to 'embed' the map into a web page. There are usability issues with simply placing the map in the scrollable flow of the containing web page. An alternative is to have a menu on the containing web page which has an option (e.g. "Map"): When the `Map` option is selected, the menu stays in place, but the map fills the remaining part of the browser window. This needs to be tested:
- Can i

[2018-11-28 10:57] matt-wallis commented on #118
Plan of action:

Create a wrapper for the map using W3.css. The wrapper is a navigation bar with just 2 options: `Map` and `Site`. When the `Map` option is selected, the map should be displayed, occupying all of the vertical space in the window, below the nav bar. When the `Site` option is selected, the map is hidden, and some arbitrary content is displayed - that content should be long enough tha

[2018-11-28 11:13] ColmMassey opened #119 "Update LOD we are publishing from Co-ops UK Data to latest"
Co-ops UK are now publishing data quite regulraly. (Qly perhaps even)

Assess what has changed to the structure of the data and republish the latest set.

---
#### TaskJuggler
TJ: effort 6h
TJ: depends-on #66

[2018-11-28 11:16] ColmMassey opened #120 "Create a new instance of the Co-ops UK Map with currently published data"
This is not for publication widely, but a password-protected one on 'internal.solidarityeconomy.coop'? for sharing with a select few.

[2018-11-28 11:16] ColmMassey commented on #120
Agreed.

[2018-11-28 15:43] ColmMassey opened #121 "Draft a data sharing agreement template"
We need a standard agreement to ask data partners to sign before we take data from them. It should remind both parties of their respective GDPR obligations, state clearly the data which is being shared with SEA, which elements of that data which can then be shared publically, and any conditions for this sharing.

[2018-11-28 15:44] ColmMassey commented on #121
@matt-wallis Please @Clara-dos-Santos, can you add any elements you think we should have in this template agreement. We may not ask every partner to signup to them all, so this can be a list of candidate elements.

[2018-11-28 15:50] Clara-dos-Santos commented on #121
I've been thinking about this recently and I think we should pay a consultant to come in and discuss the mapping project with us. I'm increasingly concerned that we might not be aware of all the requirements/our full responsibilities when it comes to this project and I don't want things to come back and bite us in the ass. Could I suggest getting [Databasix](https://www.dbxuk.com/) to come and see

[2018-11-28 15:56] ColmMassey commented on #121
I am not worried about what we have done to date on this front, but agree that we could benefit from advise as we do more of it. I propose integrating this with the thinking we need to do about licensing. Part of the agreement we will ask partners to sign, will need to include the license under which we will publish the data, if we are doing it on their behalf. For a long time our desire was that

[2018-11-28 16:14] matt-wallis commented on #121
I suggest that the template agreement also makes the following clear:

With regard to the data we're given, my understanding is if they pass on *anything* to us which is personal data (covered by GDPR), then we also need a formal agreement (I think it's called a Data Processing Agreement, or something like that). We should strongly recommend that it is much simpler for them and us if they do not p

[2018-11-28 16:35] ColmMassey commented on #121
Preaching to the choir.

[2018-11-28 16:43] matt-wallis commented on #121
Alas, the choir at PA seems to have been snoozing through the sermon!

[2018-11-28 17:41] matt-wallis commented on #118
Progress to date: we now have the map running within an iframe. You can see it here:
https://internal.solidarityeconomy.coop/experiments/whole-page-iframe/
(login required for access to internal - see SolidarityEconomyAssociation/open-data-and-maps-outreach#123 for details)
This should look and behave exactly as the map does when running normally. This whole-page-iframe map should exhibit the foll

[2018-11-29 10:33] SEAKatDarling commented on #118
Works on:

- Laptop using Chrome
- Laptop using Mozilla Firefox

However there is a small discrepancy between these two. When you zoom into the cluster, a pin becomes visible ('My Sisters Place') on both browsers (which is good, because it's quite apart from the rest of the pins, looks more like North Yorkshire). When you zoom back out (using mouse wheel) on Chrome, the separate pin remains visibl

[2018-11-29 10:43] SEAKatDarling commented on #118
Sorry, just re-read this part properly - no, on my iPhone, I can see both at the same time. I've taken some screen shots:

![signal-attachment-2018-11-29-104123](https://user-images.githubusercontent.com/32707161/49216638-76acab80-f3c3-11e8-8645-008dda0b405b.jpeg)

![signal-attachment-2018-11-29-104120](https://user-images.githubusercontent.com/32707161/49216616-6c8aad00-f3c3-11e8-9f19-7aa31586f1d

[2018-11-29 12:11] matt-wallis commented on #118
That's really useful feedback @SEAKatDarling

I now have to figure out which of the following is true:
- the responsiveness is not working.
- the responsiveness *is* working, but it is not active on the iPhone SE, which has a display 640px wide, and the threshold at which resposiveness "kicks in" is lower (e.g. 600px).

I will do some digging!

[2018-11-29 12:18] matt-wallis commented on #118
@SEAKatDarling - could you visit
- [1] https://internal.solidarityeconomy.coop/maps/newcastle-mapjam/

and see if it behaves differently to

- [2] https://internal.solidarityeconomy.coop/experiments/whole-page-iframe/

 ?

In particular:
- responsiveness: do you also see both sidebar and map together on [1]?
- does [1] have the same issues with text size and icon size?

I wish I could do this test

[2018-11-29 12:23] SEAKatDarling commented on #118
No, the sidebar takes up the whole screen when you click on a pin.

[2018-11-29 12:23] SEAKatDarling commented on #118
No, it is bigger and easier to navigate

[2018-11-29 12:24] SEAKatDarling commented on #118
Also, accessing [2] on my iPhone, even when I flip the phone horizontally (which usually makes the screen easier to read/resizes it), it looks exactly the same (well, it takes up the whole screen, but the issues are still present).

[2018-11-29 12:26] SEAKatDarling commented on #118
could @Clara-dos-Santos try it as she has an android?

[2018-11-29 12:30] SEAKatDarling commented on #118
Clara has just tried it on Android (Samsung A3) using Chrome and has the same issues.

[2018-11-29 12:37] ColmMassey commented on #118
Android on Fairphone 2 uisng Firefox also does not seem to detect it is in a small screen.

[2018-11-29 12:40] matt-wallis commented on #118
It looks to me as if the marker remains outside the cluster because that initiative is 'selected' (I can tell this because it is orange!) i.e. it is listed in the `initiatives` in the sidebar. This happens either as a result of having searched for the initiative, or because you clicked on the initiative's marker. It is intentional that the markers for  currently 'selected' initiatives do not get c

[2018-11-29 12:46] matt-wallis commented on #118
From these two facts, it is clear that the map is not working properly in the iframe (that's the HTML container that would be used to embed the map app into a web page). I will do some more digging to see if I can get to the bottom of this - this is a thorny area!

Thanks for all the testing! This problem needs to be solved before we can move on to adding a top navigation bar.

[2018-11-29 14:12] SEAKatDarling commented on #118
Great, thanks @matt-wallis !

[2018-11-29 15:27] #55 closed, assigned to matt-wallis

[2018-11-29 16:24] matt-wallis opened #122 "Feed map with initiatives that have no geo-location"
These will then appear in the list of initiatives, but not in the map.

[2018-12-04 15:47] ColmMassey commented on #120
After talking about the specs for the Directory.coop map with V today, she informed me that there is an ICA staff meeting on Friday 7th December. I will be writing something to be discussed by them at the meeting. I would like to be able to point them to a current version of the mapping software. Do you think you can complete this Issue by Thursday evening?

[2018-12-06 09:49] matt-wallis opened #123 "How do we include domain name in our LOD?"
Sometimes, we may want to explicitly include domain name in a dataset, as distinct from website/homepage. This may be true for the dotcoop dataset.

Which ontology/vocab/predicate should we use?

[2018-12-06 10:37] matt-wallis commented on #118
Using an iframe has not worked, despite using a recipe that claimed to achieve this. From background reading, it would appear that using iframes to achieve our goal is fraught with problems.

Next step is to investigate the use of [web components](https://www.webcomponents.org/). This has the potential to produce a very clean way of doing what we want. There's an open source library,   [slimjs](ht

[2018-12-06 13:50] VersteegenAudrey opened #124 "Map NAME!"
As we are having more and more chats about "the map", we thought it may be time to start thinking of what we are going to call it. Please use this issue to throw in any and all suggestions you may have, and comment on them.

I'll start: **SolidarityOxford**

Simple, and I feel it conveys everything we want to say, as we were discussing with @SEAKatDarling  "solidarity" feels like it holds a lot of

[2018-12-06 17:32] matt-wallis commented on #118
Progress to date: we now a site with a navigation bar. You can see it here:
- https://internal.solidarityeconomy.coop/experiments/flexbox-navbar-app-plus-site/

(login required for access to internal - see [SolidarityEconomyAssociation/open-data-and-maps-outreach#123](https://github.com/SolidarityEconomyAssociation/open-data-and-maps-outreach/issues/123) for details)

This is for testing that the

[2018-12-06 17:35] Clara-dos-Santos commented on #118
Hooray! Well done Matt!
I particularly like the Tom & Jerry compilation! ;)

[2018-12-07 10:49] ColmMassey commented on #118
FROM KAT:
Great, thanks @matt-wallis it's so good to see that this can work!!

Are you still at the testing whether it can work technically stage, or should we give feedback on the design (colours, fonts...) and 'user journey' (what people see when they first land on the site, how they move around it...) now? My guess is we are still at the testing the tech phase, but could you indicate to  me whe

[2018-12-07 10:49] ColmMassey commented on #118
FROM CLARA:
Colm asked us to have a look at it on our mobiles and I noticed that on the 'Site' tab, the videos are not re-sizing to the page.

[2018-12-07 10:50] ColmMassey commented on #118
FROM COLM:
It all works as I expected across Firefox & Explorer on desktop and Chrome & Firefox on IPhone.

[2018-12-07 10:51] ColmMassey commented on #118
FROM KAT:
Same for me on mob.

Also on mobile, when you are on the 'site' tab and then click on the 'map' tab to go back, nothing happens (iPhone SE, safari browser)

[2018-12-07 10:52] ColmMassey commented on #118
FORM COLM:

@SEAKatDarling Was your comment in response to my or CLara's comment?

[2018-12-07 10:52] ColmMassey commented on #118
The behaviour to reduce the size of a video window as the browser window reduced was probably not what Matt intended at this stage. He was really just testing the two very distinct modes of operation available on different tabs.

[2018-12-07 10:58] ColmMassey commented on #118
Switching between tabs is different from changing webpages, so the browser doesn't by default know what to go back to. Have you noticed that the videos continue running in the background when you go back to the map?

I think Matt will need to explicitly tell the browser what to remember when moving between tabs, for changing tabs to feel more like changing pages.

[2018-12-11 10:41] matt-wallis opened #125 "Identify sources of data on trade unions"
Trade Unions identified in the [wikipedia List of trade unions in the United Kingdom](https://en.wikipedia.org/wiki/List_of_trade_unions_in_the_United_Kingdom). The big ones should all have websites listing regional/local offices.

There's also a gov.uk page [public-list-of-active-trade-unions-official-list-and-schedule](https://www.gov.uk/government/publications/public-list-of-active-trade-unions

[2018-12-11 11:11] matt-wallis commented on #118
@SEAKatDarling

Your guess is right. Still at tech testing stage.

[2018-12-11 11:13] matt-wallis commented on #118
@Clara-dos-Santos

The videos are just placeholders - it will be up to the developer of the web pages that accompany the map to ensure they work well on mobile.

[2018-12-11 11:20] matt-wallis opened #126 "Experimental nav bar not working on mobile"
With reference to the experiment:

@SEAKatDarling reports problems going back to Map tab: https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/118#issuecomment-445195983

[2018-12-11 11:23] matt-wallis commented on #118
@SEAKatDarling

Oh! That is not good. New issue: SolidarityEconomyAssociation/open-data-and-maps#126

[2018-12-11 11:34] matt-wallis commented on #118
@ColmMassey

I'm not sure I follow.  In the case of the problem reported by @SEAKatDarling, clicking the Map item in the nav bar should do on a mobile the same as it does in the desktop - but maybe I'm not understanding what you mean. Could you elaborate?

[2018-12-11 11:40] matt-wallis commented on #118
@ColmMassey

That's an interesting observation. I think this falls under requirements that we need to put on the oxmap web-pages: one often sees web pages with several videos, and a video will automatically stop playing when the video is no longer visible. It may be that this particular implementation, using a nav bar to hide/display different elements (e.g. `Map`, and `Site`) puts additional requ

[2018-12-11 11:41] SEAKatDarling commented on #118
Unsubscribing for now, please @ me if you need my input!

[2018-12-11 12:27] matt-wallis commented on #118
Hi @SEAKatDarling - I've just talked to Colm for an elaboration! His comments above were refering to the use of the browser's `back` button - could you, Kat, confirm that you were using the `Map` button in the navigation bar, and not the browser's 'back' button when you tried to go 'back to the Map'. Thank you!

[2018-12-20 13:35] matt-wallis opened #127 "Map-app component should not disable console logging"
When the map-app is built, debugging is turned off, and [console.js](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/map-app/www/app/console.js) disables the console functions.

This is not a good thing when the map-app is embedded: the page into which it is embedded may well want to keep the console working normally!

But we still want to retain a way for the consol

[2018-12-20 16:07] matt-wallis commented on #118
@ColmMassey @SEAKatDarling A proof of concept is now available at
https://internal.solidarityeconomy.coop/experiments/14-kinda-working-with-map-and-site

Please test it on various browsers/devices if you are looking for something exciting to do over Christmas!

[2018-12-21 09:39] ColmMassey commented on #118
Works as I expected on Firefox on Fairfone & WIndows 10. Also on Chrome in Fairfone and Windiws 10.
Map does not show on Internet Explorer.

[2018-12-21 09:40] ColmMassey commented on #118
The first time you load up the page on all the browsers that can show the map, only the teal background shown. You need to explicitley click a tab to see something. This was the same in the previous test.

[2018-12-21 10:49] matt-wallis commented on #118
No - it won't. IE is way behind. D3 dropped support for IE over a year ago. But thanks for trying!

[2018-12-21 10:51] matt-wallis commented on #118
Yes - that's how the experiment is set up ... for now

[2018-12-21 15:59] ColmMassey commented on #95
No longer valid.

[2018-12-21 15:59] #95 closed, assigned to matt-wallis

[2018-12-23 19:07] novakand commented on #24
The angular application does not start when importing LeafletMarkercluster,
import {MarkerClusterGroup} from "leaflet.markercluster" error. ReferenceError: L is not defined

I need to connect the maps API via the script download: https://unpkg.com/leaflet@1.3.4/dist/leaflet.js
Next, I need to initialize Markercluster.
  Tell me how to be?

[2018-12-23 19:08] novakand opened #128 "Callback load API script"

[2018-12-23 19:10] novakand commented on #128
How to receive the answer (callback) when the script of a card is loaded?

[2019-01-02 09:33] matt-wallis commented on #128
I don't know what this refers to.
Maybe this issue has been opened in the wrong repo?

[2019-01-02 09:33] #128 closed, assigned to nobody

[2019-01-03 09:45] matt-wallis opened #129 "Embedded map does not initialise OSM correctly"
When embedding the map ( as a custom element), one might want it not to be displayed immediately (but only when it is navigated to). For example:
[code]
with CSS:
[code]
However, if the Leaflet map is initialized into the above `map-app` element, the map is not panned or zoomed correctly once the `map-box` is changed to `display: flex`:
![image](https://user-images.githubusercontent.com/15378101/5

[2019-01-03 10:19] matt-wallis commented on #129
See https://github.com/SolidarityEconomyAssociation/open-data-and-maps/commit/439c66341750f3b4d9f74c78b41845c22de199dc for details of fix using
[code]

[2019-01-03 10:19] #129 closed, assigned to matt-wallis

[2019-01-09 14:10] matt-wallis opened #130 "Implement linked data for provenance and certification"
This issue arises from discussions around SolidarityEconomyAssociation/open-data-and-maps-outreach#139. It refers in particular to decision 1 as described at https://github.com/SolidarityEconomyAssociation/open-data-and-maps-outreach/issues/139#issuecomment-452707267

See also the [document that describes the background and concepts](https://nextcloud.solidarityeconomy.coop/index.php/f/22018).

[2019-01-10 11:58] VersteegenAudrey commented on #56
Had anybody seen this one before? IndependentOx map: https://independentoxford.com/map/
Nice looking too.

[2019-01-10 12:07] Clara-dos-Santos commented on #56
I had! Totally forgot to add it to the Issue. They did a really nice printout version to put at their pop up shop over Christmas too - Robbie (Ox. Alterations) might have a copy of that!

[2019-01-15 12:04] matt-wallis commented on #118
@ColmMassey - here's an alpha test: https://internal.solidarityeconomy.coop/experiments/17-alpha-test/example-embedding-site-index.html

Note the following:
- the 'site' is now loaded (previously, you had to click the 'Site' button
- the map contains all datasets (to test performance issues related to amount of data)

[2019-01-15 12:08] matt-wallis commented on #126
Hi @SEAKatDarling - could you please visit on your phone: https://internal.solidarityeconomy.coop/experiments/17-alpha-test/example-embedding-site-index.html

If you can no longer reproduce the problem you reported at https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/118#issuecomment-445195983, then I think this issue can be closed.

[2019-01-15 13:06] matt-wallis opened #131 "Show initiative's description in map sidebar"
Currently, we have a placeholder:

![image](https://user-images.githubusercontent.com/15378101/51182435-1b2c7380-18c6-11e9-90a8-5b295fab82e2.png)

A triple is being created for the description of each initiative, but these are not getting as far as the map.

[2019-01-15 14:18] SEAKatDarling commented on #126
Yep it works fine now!

[2019-01-15 14:19] #126 closed, assigned to SEAKatDarling

[2019-01-15 16:20] matt-wallis commented on #131
This now works for the newcastle-mapjam dataset. See https://internal.solidarityeconomy.coop/maps/newcastle-mapjam/

It will work for other datasets too next time they are refreshed.

[2019-01-15 16:20] #131 closed, assigned to matt-wallis

[2019-01-16 09:51] matt-wallis opened #132 "Move from requirejs to webpack"
This will provide more flexibility, and allow us to build the package in a way that works better on more platforms (e.g. by transpiling using Babel).
The whole development set-up can be simplified, with all of our dependent libraries available via NPM.
Currently, using requirejs to load the application is awkward.
See in [map-app.js](https://github.com/SolidarityEconomyAssociation/open-data-and-ma

[2019-01-16 10:37] matt-wallis commented on #132
Resources:
- [Moving from requirejs to webpack](https://gist.github.com/xjamundx/b1c800e9282e16a6a18e)
- [webpack](https://webpack.js.org/)
- [webpack - how to](https://github.com/petehunt/webpack-howto)
- [embedding version](https://github.com/webpack/webpack/issues/237)
- [loading data](https://webpack.js.org/guides/asset-management/#loading-data)

We need to move from AMD to ES2015 modules when

[2019-01-21 13:58] Jo-SEA commented on #56
http://fearlesscities.com/en/map

[2019-01-24 11:15] matt-wallis commented on #116
This is now done whenever a Dataset has finished loading:
[code]

[2019-01-24 11:15] #116 closed, assigned to matt-wallis

[2019-01-30 14:51] matt-wallis opened #133 "Improve map performance when changing selections"
To see the problem:
- Run the all-datasets map-app
- perform a search
- now show all initiatives
- now use history keys

[2019-02-13 09:56] matt-wallis commented on #107
Note the use of iconv in [to-utf8.rb](https://github.com/SolidarityEconomyAssociation/oxford-map/blob/master/data/to-utf8.rb).
A precursor to this is to find out (by trial and error loading a CSV into LibreOffice) what is the encoding of the CSV.
Here's a [list of encodings supported by ICONV](https://gist.github.com/hakre/4188459). The list is 6 years old, and may have grown since then.

[2019-02-14 09:40] #118 closed, assigned to matt-wallis

[2019-02-28 14:06] ColmMassey commented on #109
LinkedGeoData
https://wiki.openstreetmap.org/wiki/LinkedGeoData

OSM Semantic Network
https://wiki.openstreetmap.org/wiki/OSM_Semantic_Network

[2019-02-28 14:10] ColmMassey commented on #109
EU Open Data Portal

https://data.europa.eu/euodp/en/home

[2019-03-06 16:24] joebillings commented on #132
✋I'd be happy to look into this

[2019-03-28 16:35] ColmMassey opened #134 "Create reference map-app instance"
We need to have an instance of the map-app that uses already publicly available data always available for testing and to be referenced by Issues in the public open-data-and-maps repository.

It should be hosted ot test-[deploydate]-[dataset].solidarityeconomy.coop I suggest.

We could start with test-20190328-coopsuk-2017.solidarityeconomy.coop

[2019-03-28 17:44] ColmMassey opened #135 "Visualise connections between initiatives"
When a relationship exists between two initiatives being visualised on a map, draw a simple line between them.

For example, if we have initiatives connected with the predicate
https://pending.schema.org/knowsAbout
or perhaps
https://schema.org/knows

then draw a line on the map from the subject to the object.

[2019-03-28 17:45] ColmMassey commented on #135
See https://github.com/SolidarityEconomyAssociation/open-data-and-maps-outreach/issues/162 and
https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/62

[2019-03-28 17:51] ColmMassey opened #136 "Design how search interacts with activity filter"
As we extend the map-app to allow filtering on Activity type, we need clarity on how that works with the text search functionality. We wish to be able to filter on mutliple activities simultaneously and also narrow that selection with a text matching search. We need to modify the existing mockups to show how this would work, (on both mobile and wide screen).

[2019-03-28 17:57] ColmMassey opened #137 "Implement new activity filter functionality"
Essentially implementing what is designed [here...](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/136)

Tech Dependencies
---------------------
- [ ] https://github.com/SolidarityEconomyAssociation/open-data-and-maps-outreach/issues/163

[2019-03-28 17:59] ColmMassey commented on #136
Essential that the panels, search box and visualised icons stay state locked.

[2019-04-03 09:00] joebillings commented on #137
Linking: https://github.com/SolidarityEconomyAssociation/oxford-map/issues/25

[2019-04-05 15:34] ColmMassey commented on #136
Can you put a link to the latest Sketchup you created for this in this Issue @joebillings ? Ta.

[2019-04-08 16:50] joebillings commented on #136
Mobile: https://sketch.cloud/s/75lep/wLPePJl/play
Desktop: https://sketch.cloud/s/75lep/jgx5xA7/play

[2019-04-10 09:27] joebillings commented on #136
Some things to think about:

- Should the search results/items displayed on the map live update when activities are selected/deselected?
  - It might be a nice way to quickly filter all the items to a single activity:
    1. Open up the filters (desktop: click the arrow next to search, mobile: click the search icon then the arrow next to search)
    2. Check "Environment"
    3. Only the Environme

[2019-04-18 11:59] ColmMassey commented on #136
The example in the link is out of sync with the description above. As with the maps, we probably need a simple version control system here. Let's discuss what that might look like, in conjunction with the map version ticket [here](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/134).

[2019-05-01 11:14] ColmMassey commented on #115
@joebillings Is this addressed in the panel design changes you have proposed?

[2019-05-01 11:16] ColmMassey commented on #107
I think this covers the utf issue also present in the DotCoop data.

[2019-05-01 11:19] joebillings commented on #115
Yes, the close button hangs on the sticks to the right side of the panel when it's opened. The navigation buttons are out of the way on the left hand side.

<img width="344" alt="Screenshot 2019-05-01 at 12 18 22" src="https://user-images.githubusercontent.com/411367/57015206-69fae080-6c0b-11e9-9042-93825bcc774e.png">

[2019-05-01 11:24] ColmMassey commented on #100
I think this is no longer relevant with new designs for how the panel will work. @joebillings

[2019-05-01 11:24] #100 closed, assigned to matt-wallis

[2019-05-01 11:33] #115 closed, assigned to ColmMassey, matt-wallis

[2019-05-01 11:40] ColmMassey commented on #85
@joebillings CLosing this one as obsolete I beleive

[2019-05-01 11:40] #85 closed, assigned to matt-wallis

[2019-05-01 11:48] ColmMassey opened #138 "Implement new design for map pop-up"
![image](https://user-images.githubusercontent.com/1162642/57015820-bbf13580-6c0e-11e9-9bb1-772601777e46.png)

[2019-05-01 11:49] #77 closed, assigned to matt-wallis

[2019-05-01 11:50] ColmMassey commented on #138
Might be some relevant info [here](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/77)

[2019-05-01 12:51] ColmMassey commented on #83
@joebillings would we need to manually create one for each pilot? Where would we put it in the mobile mode?

[2019-05-01 13:08] ColmMassey opened #139 "Extend Search to include domain names and address"
Current search just operates on the organisation's name. 'Or'ing with a search across address fields and domain fields would be very useful.

Larger discussion on search possiblities [here](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/84)

[2019-05-02 11:29] ColmMassey commented on #107
See also https://github.com/SolidarityEconomyAssociation/open-data-and-maps-outreach/issues/171

[2019-05-09 13:56] Clara-dos-Santos commented on #56
[Urban Alternatives](https://urbanalternatives.org/)

[2019-05-15 09:52] matt-wallis commented on #19
@joebillings @ColmMassey I think this can be closed.
The types of filter mentioned in this issue would have been useful for giving a demo, but not for a 'real' map.

[2019-05-15 10:20] matt-wallis commented on #5
@joebillings @ColmMassey I think this can be closed

[2019-05-15 11:19] matt-wallis commented on #104
@joebillings Is the newer Scaleway server running a recent version of Virtuoso? If so, I think this can be closed.

[2019-05-15 13:32] #19 closed, assigned to joebillings, ColmMassey

[2019-05-15 13:36] #5 closed, assigned to joebillings, ColmMassey

[2019-05-17 09:30] joebillings commented on #104
I used the same version as the other server to void any issues so will leave this open. I'll use [Docker](https://www.docker.com/) which will allow us to create containerised instances of everything. We'll then be able to do everything on a single server. When the time arises, we'll also be able to send containers to partners so they can easily create the exact same environment on their own server

[2019-05-17 09:47] joebillings opened #140 "Use Docker to containerise server and required tools"
[Docker](https://www.docker.com/) is a container platform for installing tools and apps in their own ring-fenced environments. By using it we can easily upgrade tools we're using ([Virtuoso for instance](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/104)) on the same server without disrupting existing installations.

We can also package up containers and make them avail

[2019-05-18 16:37] ColmMassey commented on #38
Is this now working Joe? I's close it unless there is something left to complete.

[2019-05-19 21:51] joebillings commented on #38
Yes, sorry! https://dotcoop.solidarityeconomy.coop/

[2019-05-19 21:51] #38 closed, assigned to joebillings

[2019-05-22 09:34] ColmMassey commented on #110
Did you have any ideas about what could be causing this, for a a starter for Joe to look at, if it reoccurs?

[2019-05-22 09:49] ColmMassey commented on #133
@matt-wallis can you share any thoughts you had about candidates to improve here, that would be great.

[2019-05-22 09:52] ColmMassey commented on #127
Is this still an issue?

[2019-05-22 12:09] joebillings opened #141 "Add to Organisational Structure SKOS"
We need to include the following to be compatible with coopsuk:

Self-employed
Co-operatives (Secondary Co-op)
Employee Trust
Unincorportated

[2019-05-22 12:23] ColmMassey commented on #112
No longer relevant, given new sidebar design.

[2019-05-22 12:23] #112 closed, assigned to matt-wallis

[2019-05-22 12:40] ColmMassey commented on #113
Geo-search using GeoNames

GeoNames provide a web service, and there is a Leaflet client library. This is potentially brilliant to ease the implementation of a geo-search feature, and to do so in a way that works anywhere in the world.

This should be the first thing investigated if we implement geo-search.

Note that GeoNames also provide global postcode data 👍

[2019-05-22 12:41] ColmMassey commented on #84
This is too broad a ticket it is part addressed by
https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/139
and
https://github.com/SolidarityEconomyAssociation/open-data-and-maps-outreach/issues/172
and
https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/113

[2019-05-22 12:41] #84 closed, assigned to matt-wallis

[2019-05-22 12:47] #141 closed, assigned to joebillings

[2019-05-22 12:47] joebillings commented on #141
This has been pushed to https://github.com/essglobal-linked-open-data/map-sse/tree/extension-test

[2019-05-23 09:10] joebillings commented on #102
w3id.org/sea-lod/{project}/{date-created?}/{uid or name-as-alphanumeric}

[2019-05-23 09:20] joebillings commented on #101
Copy/paste bug

[2019-05-23 09:42] joebillings commented on #133
Possibly slow dom-updates

[2019-05-23 10:02] ColmMassey commented on #105
We could try not doing it. Things will probably still work.

[2019-05-23 10:09] #89 closed, assigned to nobody

[2019-05-23 10:12] joebillings commented on #87
This should live in the row-reader library

[2019-05-23 10:13] matt-wallis commented on #87
See
https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/data/tools/se_open_data/lib/se_open_data/csv/row_reader.rb

[2019-05-23 10:29] joebillings commented on #52
We want to be doing [this](https://www.w3.org/TR/vcard-rdf/#Examples) and not create specific URIs for the address/phone number

[2019-05-23 10:54] joebillings commented on #103
https://www.npmjs.com/package/sparqljs

[2019-05-23 11:09] joebillings commented on #42
[Updated link for Tranquil City](https://www.exetercityfutures.com/tranquil-city-exeter/)

[2019-05-27 12:40] ColmMassey opened #142 "Html formatting of initiative data error"
The html generated when looking at data on initiatives in Newcastle

https://data2.solidarityeconomy.coop/sea-lod/newcastle-mapjam/ThePicklePalace.html

is formatted differently to Oxford pilot

https://data2.solidarityeconomy.coop/sea-lod/oxford-pilot/88.html

[2019-05-28 14:02] #102 closed, assigned to joebillings, ColmMassey

[2019-05-29 10:08] joebillings opened #143 "Try and resolve newlines in descriptions"
Some descriptions contain newline characters (carriage returns) that are ignored in the HTML. We should attempt to convert these to HTML. [Example](https://data2.solidarityeconomy.coop/sea-lod/oxford-pilot/88.html)

[2019-05-29 10:21] joebillings commented on #142
I know what's happening here (there's a missing stylesheet). I'll republish all the latest NewBridge data in the next day or two and fix this then.

[2019-06-07 09:12] joebillings opened #144 "Telephone and Email use hasValue instead of value"
Which is preventing the data from being accessed via SPARQL

https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/974b0fcbe8dfb7202cf724dca72fa031f8b1b78b/data/tools/se_open_data/lib/se_open_data/initiative/rdf.rb#L195

https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/974b0fcbe8dfb7202cf724dca72fa031f8b1b78b/data/tools/se_open_data/lib/se_open_data/initiat

[2019-06-07 09:13] #144 closed, assigned to nobody

[2019-06-10 10:34] ColmMassey commented on #56
https://glossardeswandels.de/

[2019-06-12 10:08] ColmMassey commented on #83
We decided we won't need a key.

[2019-06-12 10:08] #83 closed, assigned to joebillings

[2019-06-17 09:33] #142 closed, assigned to joebillings

[2019-06-17 09:35] joebillings commented on #138
This is complete, bar a few minor tweaks: http://163.172.189.71:8787/

[2019-06-17 09:45] joebillings opened #145 "Add a link to the LOD for demo purposes"
We discussed the removal of Geek Zone as per this ticket: https://github.com/SolidarityEconomyAssociation/oxford-map/issues/19

A decision was made to replace it with a link to each initiative's LOD but only on maps intended for tech demo purposes.

[2019-06-17 13:43] ColmMassey commented on #138
Still not implemented yet on mobile

[2019-06-17 15:13] ColmMassey commented on #138
There isn't a map pop up in the mobile version, but as there isn't a dedicated Issue for implementing displaying the same data in the side bar, we could keep Issue this open until that is in place.

[2019-06-18 16:43] ColmMassey commented on #56
https://transiscope.org - May be using Linked data???

[2019-06-19 08:18] joebillings opened #146 "Oxford SPARQL query is missing initiatives"
Initiatives with no emails or telephone numbers aren't getting picked up by the Oxford SPARQL query.

[2019-06-19 08:19] #146 closed, assigned to joebillings

[2019-06-19 08:31] joebillings commented on #56
It's fast too!

[2019-06-20 11:20] ColmMassey commented on #107
This seems to have been addressed, certainly in Oxford data.

[2019-06-20 11:20] #107 closed, assigned to joebillings

[2019-06-24 13:36] ColmMassey opened #147 "Map UI Buglets (24/06/19)"
Full Screen:
- [x] 1 Inititative does not deselect in the sidebar when a new icon is selected on the map.
- [ ] 2 Activities not being displayed in popup. REPLACED WITH [this](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/150)
- [x] 3 '(oxford)' text is being displayed in small bubble when hovering. Remove?
- [x] 4 If both panels are open (full screen) and an inititive

[2019-06-25 09:50] joebillings commented on #147
I'm not seeing 3. Is it just when you're hovering over the map? Is it a browser tooltip or styled like the ones that appear when hovering over the markers?

[2019-06-25 09:57] ColmMassey commented on #147
This is v minor.
![Bubble](https://user-images.githubusercontent.com/1162642/60089229-f1f6f580-9737-11e9-8007-4cf98a149c6a.png)

[2019-06-25 09:58] joebillings commented on #147
Aha! Not sure how I missed that!

[2019-07-02 10:10] joebillings commented on #127
I'm closing this. The console seems to work fine for me in Chrome, Safari and Firefox.

[2019-07-02 10:10] #127 closed, assigned to joebillings

[2019-07-02 11:01] joebillings opened #148 "Clicking initiatives when zoomed out doesn't always work"
- Open the [Oxford map](https://oxford.solidarityeconomy.coop/)
- Zoom in as much as possible
- Zoom out once
- Click on a cluster
- Click on an initiative
- -> The map zooms in on the cluster but then closes it so the popup is hidden

Also - when clicking unclustered initiatives the markers are made to fit within the bounds of the map rather than centred in the visible area (taking the directory

[2019-07-02 13:20] joebillings opened #149 "Revisit RDF generation for Twitter and Facebook"
Generating the appropriate RDF for Facebook and Twitter was taking too long so I've parked it for now. Here's the format they need to take:

**RDFXML**

<foaf:account>
  <foaf:OnlineAccount>
    <rdf:type rdf:resource="http://xmlns.com/foaf/0.1/OnlineAccount"/>
    <foaf:accountServiceHomepage
            rdf:resource="http://twitter.com/"/>
    <foaf:accountName>solidarityeconomyassociation</foaf

[2019-07-02 13:27] joebillings opened #150 "Include initiatives' secondary activities in the map"
The Map App already knows about the secondary activities, we just need to alphabetise the structure that stores them before they are displayed in the directory.

It was suggested that we also have an indication of initiatives' activities in the initiative popup. Since we're using colours, this could be a row of coloured circles that each have a tooltip to display the activity when hovered over.

[2019-07-02 15:19] joebillings opened #151 "Republish Oxford data to final destination"
Currently the Oxford data is sitting in an experimental location (w3id2.solidarityeconomy.coop/sea-lod/oxford-pilot/). This should be moved to a final location (w3.org/sea-lod/oxford/yyyy-mm-dd/) so we can continue to experiment without breaking the live site.

[2019-07-03 13:04] joebillings opened #152 "Process and publish NewBridge Limesurvey data"

[2019-07-03 14:58] joebillings opened #153 "Remove hard coded location for non-geo initiatives"

[2019-07-05 09:07] joebillings commented on #153
I've added a couple of new options to the variant config file which allows us to hard code a non-geo location for each variant. In the future I think we should come up with a different solution since any dataset that spans more than one city isn't going to want to have a single non-geo location.

[2019-07-05 14:18] ColmMassey opened #154 "World scale map-app tweaks"
Several tweaks we should try to optimise when the map app is looking at a world rather then regional data set.

- [x] Transition needed when moving between locations: What options are there?
- [x] Identify good default zoom distance when moving to a new location  - make this configurable.
- [x] Set opening zoom level to encompass the world
- [ ] Provide option to use mobile behaviour even when beh

[2019-07-05 20:28] ColmMassey opened #155 "Add Vanilla Co-operative to Organisational Types"
Some data sets will indicate that an organisation is a co-op, but not what type of co-op. Do we use the ESSGlobal legal-form which has a vanilla _Cooperative_ label, or add a generic _Co_operative_it to our newly minted _Organisation Strusture_.

[2019-07-11 16:45] ColmMassey opened #156 "Add Long and Lat options to Surveys"
Create the option for those using the survey to add long and lat. It's pretty easy to generate a long and lat from OSM or google maps.
What would it take to be able to grap long and lat from, say clicking on our map interface. Could then be easily copied into the survey?

We then just need the importer to add that too.

[2019-07-12 12:18] joebillings commented on #151
The htaccess is failing on this pattern. As discussed with CM, we've decided to only include a date where necessary and include it in the project name. Here is the discussion from Signal:

**Joe:** We need to have an sandbox/staging area for lod and a final release one so that we don't break things when working on changes. I was trying to have a catchall rule in the htaccess for the sea-lod (oxfor

[2019-07-15 12:38] ColmMassey commented on #56
https://www.ecotopiabiketour.net/ecotopia-biketour-2019/route-plan-2019
@joebillings Note the convention of using drops for exact locations and circles for approximate locations.

[2019-07-16 10:35] #151 closed, assigned to joebillings

[2019-07-16 10:49] joebillings commented on #156
Is the postcode lookup tool not working?

[2019-07-16 10:53] joebillings commented on #155
I think we'll need to add a generic one as I don't think we can switch between SKOSs like that

[2019-07-16 11:57] ColmMassey commented on #155
Lets do that.

[2019-07-16 12:04] ColmMassey commented on #156
We know the postcode lookup tool is only ever approximate. The larger the postcode area the more inaccurate it will be. One user reported that their organisation was in the wrong place, as they didn't know that the positioning postcode based. Enabling this functionality (at some point) would allow users to more accurately position themselves.

[2019-07-16 12:19] joebillings opened #157 "Use the LimeSurvey API to automatically get the latest responses from LimeSurvey"
Currently a major part of generating LOD is exporting the LimeSurvey responses and making sire they're in the right location for the generation scripts. We should use the [LimeSurvey API](https://manual.limesurvey.org/RemoteControl_2_API) to automate this step.

[2019-07-17 13:01] ColmMassey commented on #122
Done?

[2019-07-17 13:01] #122 closed, assigned to joebillings, matt-wallis

[2019-07-17 15:41] ColmMassey commented on #56
https://ernte-teilen.org/karte

[2019-07-24 10:11] joebillings opened #158 "Dotcoop map should filter by Country rather than Activity"
There is no Activity field in the Dotcoop data so we should instead filter by Country.

I'm proposing that we add a way to specify the field(s) to filter by in the config file so we can support different ranges of data in the future.

[2019-07-25 08:53] #137 closed, assigned to joebillings

[2019-07-25 16:15] ColmMassey opened #159 "Zoom to filtered inititatives"
We need an option to zoom the map to include all the initiatives in a filter group. For example if the directory is supporting filtering of country, we select Ireland, the directory will list all the inititaves in Ireland. If there was a buttton beside the Ireland title, or perhaps cliscking the Ireland title, the map would zoom to display all the initiatives in Ireland. I the mobile mode, it migh

[2019-07-29 11:11] ColmMassey opened #160 "Losing sight of spidered inititative"
When you choose an initiative from the directory that then appears in a spidered out cluster, it can be difficult to then zoom in to see where it is at higher resolution. A possible solution would be...

If when zoom in is clicked and an initiative is currently 'selected' before zooming, pan so that the selected initiative is at the zoom centre and keep it selected and the dialog bubble visible.

[2019-08-22 10:03] #160 closed, assigned to joebillings

[2019-08-22 10:03] #158 closed, assigned to joebillings

[2019-08-22 10:05] joebillings commented on #155
Here is the vanilla coop: http://vocabs.solidarityeconomy.coop/essglobal/V2a/html-content/essglobal.html#organisational-structure-OS115

[2019-08-22 10:05] #155 closed, assigned to joebillings

[2019-08-22 10:07] joebillings commented on #154
The new zooming functionality and selection makes the map more usable on desktop when looking at a world-scale map. Shall we remove the last one or would you like me to add an option into the config?

[2019-08-22 10:07] #153 closed, assigned to joebillings

[2019-08-22 10:08] joebillings commented on #148
This has been much improved after fixing #160

[2019-08-22 10:08] #148 closed, assigned to joebillings

[2019-08-22 10:37] #138 closed, assigned to joebillings

[2019-08-22 10:43] joebillings opened #161 "Improve general performance when working with large datasets"
Datasets larger than abut 4000 seem to suffer quite badly in almost all areas – loading, general moving around, selection.

[2019-08-22 10:44] joebillings commented on #161
I'm going to look into server side processing of the data to try and ease the strain, particularly on mobile devices.

[2019-08-22 10:44] joebillings commented on #161
https://github.com/rclark/server-side-leaflet

[2019-08-22 10:48] joebillings commented on #123
I think we should be considering the domains owned by coops as assets. We could either add this to our version of ESSGlobal or use the Organization vocab in its hierarchy.

[2019-08-22 10:49] joebillings commented on #117
See this: https://stackoverflow.com/questions/22155017/can-i-prevent-panning-leaflet-map-out-of-the-worlds-edge

[2019-08-22 11:41] ColmMassey commented on #161
This sounds quite different from loading the mimumum data necessary to display the map, leaving the othet data to be loaded, either after the map is created, or when required.

[2019-08-22 12:03] ColmMassey commented on #154
OK. Let's leave it.

[2019-08-22 12:03] #154 closed, assigned to joebillings

[2019-08-22 12:56] joebillings commented on #161
I'll continue looking but the problem doesn't seem to be the amount of data as a whole, it's the number of data points that's the issue.

[2019-08-22 13:48] joebillings commented on #161
Things to investigate:
- Dynamic server side clustering: https://geovation.github.io/dynamic-server-side-geo-clustering
- Storing lat/lng as a geohash (up to 50% smaller): http://www.movable-type.co.uk/scripts/geohash.html

[2019-08-22 13:59] joebillings commented on #161
[Virtuoso now supports GeoSparql](http://vos.openlinksw.com/owiki/wiki/VOS/VirtGeoSPARQLEnhancementDocs) which would allow us to make location based queries that could ease the load. The only way to make this work would be to zoom in to a specific location when the app loads and request the inits from that area. The rest would get loaded as the user moves the map around. I'm not sure if this would

[2019-08-22 14:10] ColmMassey commented on #161
Is https://github.com/Leaflet/Leaflet.markercluster the library we are currently using?
From the documentation it doesn't look like ~9k inititiatves should cause performance issues.

[2019-08-22 14:17] joebillings commented on #161
Yeah that's the one.

[2019-08-22 14:19] ColmMassey commented on #161
https://leaflet.github.io/Leaflet.markercluster/example/marker-clustering-realworld.50000.html
has 50k markers and it is lightening fast, so can't see how it could be the # of leaflet markers.

[2019-08-28 00:53] joebillings commented on #161
This is loading much faster now. I've moved the sorting to the server – the SPARQL query now sorts by country and then name. I've also moved the country name conversion to the sausage machine – previously the two character iso code was being passed through from the original data and then mapping to the the full name in the JS.

Other things that could potentially be improved:
- We could try loadin

[2019-08-28 00:53] #161 closed, assigned to joebillings

[2019-08-28 11:33] #159 closed, assigned to joebillings

[2019-08-28 13:29] ColmMassey commented on #159
This is great. I think we just need some visual clue that this is an option. What do you think of changing the background colour to white when we hover over it, as with the co-op entries?

[2019-08-28 13:43] ColmMassey commented on #145
I think we should reintroduce the link to the data from the Oxford about box, using the same description as the Newbridge map. Then close the Issue.

[2019-08-28 15:26] ColmMassey commented on #133
I think this can be closed?

[2019-08-28 15:30] ColmMassey commented on #110
Do you want to get the satisfaction of closing this one?

[2019-08-29 09:54] #145 closed, assigned to joebillings

[2019-08-29 10:16] #133 closed, assigned to joebillings

[2019-08-29 10:18] #110 closed, assigned to joebillings

[2019-08-29 10:20] #101 closed, assigned to joebillings

[2019-08-29 10:21] #99 closed, assigned to joebillings

[2019-08-29 10:22] #92 closed, assigned to joebillings

[2019-08-29 10:23] #82 closed, assigned to joebillings

[2019-08-29 10:24] #75 closed, assigned to joebillings

[2019-08-29 10:25] #74 closed, assigned to joebillings

[2019-08-29 10:25] #71 closed, assigned to joebillings

[2019-08-29 10:40] joebillings commented on #40
We could potentially show a ring/area around markers in a similar way to the way that clusters display the area of the markers they represent.

[2019-08-29 12:08] #147 closed, assigned to Jo-SEA

[2019-09-02 07:31] joebillings opened #162 "Add close buttons to panels on mobile"
And make the tab close the entire panel. We should also see what this is like in desktop mode for consistency.

[2019-09-02 07:56] joebillings opened #163 "Add mechanism to force download of updated JavaScript/CSS"
We should add a version or token to paths to resources that is increased/changed when they are updated. This will force the browser to always downloaded the latest version rather than their browser's cached version.

This will look something like this:

**Output**
[code]

The code might look something like this (so we only have to change a config file rather than hunting down the token in the code

[2019-09-02 07:57] joebillings opened #164 "Add header for all initiatives"
This seems to have been removed in the latest update

[2019-09-02 08:00] joebillings opened #165 "Add a rollover effect to header in initiatives view"
At the minute there's no indication that it's clickable

[2019-09-02 10:25] joebillings opened #166 "Organisational Structure isn't loading in latest map"

[2019-09-02 12:48] joebillings commented on #163
I haven't been able to reliably add a method to do this automatically. Currently the locations of the versions to update when they've changed are:

www/index.html (`<link rel="stylesheet" href="map-app/map-app.css?v=1.0.0" />`)
www/map-app/map-app.js (`dataMain.value = "map-app/app.js?v=1.0.0";`)

[2019-09-02 12:48] #163 closed, assigned to joebillings

[2019-09-02 13:04] #164 closed, assigned to joebillings

[2019-09-02 13:18] #165 closed, assigned to joebillings

[2019-09-04 08:39] ColmMassey opened #167 "Map clusters not opening up when 2 initiatives have same address."
I noticed on the Newbridge map that one can often end up in a situation where you have two items at the same place (e.g. Dwellbeing) and you have a cluster of 2 that you cannot open out into a spider.

[2019-09-04 11:23] ColmMassey commented on #56
CTRLshift partners

https://kumu.io/permaculturepa/ctrl-shift#ctrl-shift/ctrl-shift-2019

[2019-09-05 10:32] ColmMassey commented on #162
Is this a duplicate of
https://github.com/SolidarityEconomyAssociation/open-data-and-maps-outreach/issues/177 or are there some differences.

[2019-09-05 10:34] joebillings commented on #162
Yes, it looks like it. Can we close 177 and use this instead as it's not part of outreach?

[2019-09-05 11:13] ColmMassey commented on #46
We will look at this in tidy up at end of sept.

[2019-09-05 11:15] ColmMassey commented on #156
This is a limsurvey issue, not a pipleline issue. Needs to be done survey by survey, when not expecting anyone to be updating.

[2019-09-05 11:32] ColmMassey opened #168 "When the All Activities header is clicked, close Directory"
We discussed minimising the Directory, when the All Activities or All Countries option is clicked and the map pans and zooms to display them. Can we try this, but just when in mobile mode?

[2019-09-12 12:04] #168 closed, assigned to joebillings

[2019-09-12 12:09] joebillings commented on #167
I can't repeat this.

[2019-09-12 12:10] #162 closed, assigned to joebillings

[2019-09-16 14:35] ColmMassey commented on #167
I am still seeing it, on Firefox and Chrome. I used anonymous view, to be sure I had the latest code.

[2019-09-18 10:41] ColmMassey commented on #56
http://adoddle.org/

[2019-09-18 14:39] ColmMassey opened #169 "Creating Linked Data Readme Corrections/Changes"
https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/development/data/docs/README.md

[2019-09-18 14:53] ColmMassey commented on #169
In the prerequisite perhaps say
 a little about the virtuoso server
which permissions/passwords you will need to complete the process.

Typos
macOS is Unix based so its cliENT?
. We might, for instance, wanT?
For instance, if the filedS? that we want to use as the Identifier

[2019-09-18 14:56] ColmMassey commented on #56
http://phlassembled.net/

[2019-09-18 15:12] ColmMassey commented on #169
Add note:
If using an Ubuntu virtual machine on Window 10, you should be able to access the c drive of your windows operating system via /mnt/c.

[2019-09-18 15:25] ColmMassey commented on #169
Should we comment on the interim files initiatives.csv and reports.csv?

[2019-09-18 15:26] joebillings commented on #169
We need to be careful about what we put up onto the public repo.

Fixed

[2019-09-18 15:27] joebillings commented on #169
Yes - I'll add a note to explain what they are and that they'll need deleting if an error has occurred and we want to run the makefile again.

[2019-09-18 15:34] ColmMassey commented on #169
Similarly with the sql interim triplestore file, referencing the intermediary files expected to be produced makes debugging easier. What others might help?

[2019-09-18 15:35] ColmMassey commented on #169
Should we mention the two error messages, or would it be quicker for you to just go in and see if you can change the debug message to warnings?

[2019-09-18 15:37] joebillings commented on #169
I think we should change the message to make it seem less ... drastic

[2019-09-23 22:27] ColmMassey commented on #56
https://www.communecter.org/#

[2019-09-23 22:28] ColmMassey commented on #109
https://www.virtual-assembly.org

[2019-09-25 12:26] ColmMassey commented on #167
Seems fixed in latest instance of Newbridge map.

[2019-09-25 12:26] #167 closed, assigned to joebillings

[2019-09-25 14:19] ColmMassey opened #170 "Push Development Branch to Master"
As the current Development branch is going to be the production code for a while now, we should push it to the Master. Use the opportunity to clean away all the experiments that currently clutter it.

[2019-09-26 10:53] joebillings commented on #150
Update: We removed Secondary Activities and Organisational Structure from the map shortly before releasing Solidarity Oxford.

The reason for this was twofold - sorting the data was taking too long and we were getting the data in a suboptimal way.

When sse_initiative.js processes the data it expects each datapoint to contain represent a unique initiative.  Including organisational structure and s

[2019-09-26 10:54] joebillings commented on #166
(See https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/150#issuecomment-535449806 for my proposed solution to this)

[2019-09-26 12:52] joebillings commented on #149
Linkeddata library docs: https://rubydoc.info/github/ruby-rdf/rdf

[2019-09-26 17:14] ColmMassey opened #171 "The css files are being positioned incorrectly under www"
When the css files are positioned under www for deployment of html version of linked data files, they are positioned into a level deeper then designed, i.e into ../www/css/css rather then ../www/css

[2019-09-26 17:30] ColmMassey opened #172 "Conductor Turtle Loader Possible Error"
When deploying new data to the triple store, the following error message is displayed in the
Sys Admin/Monitor/Log Viewer -

PL LOG: File /home/admin/Virtuoso/BulkLoading/Data/20190926104916//organisational-structure.skos error 37000 SP029: TURTLE RDF loader, line 3: syntax error

It doesn't seem to actually be fatal.

[2019-09-26 17:48] ColmMassey opened #173 "Refreshing Conductor Web Page breaks triple store upload"
If you refresh the web page when you are on the Conductor Linked Data->Graphs page you can break the upload process. It is safer to click the Graph title instead of doing a browser refresh. Don't worry about fixing until after an upgrade to latest version of Virtuoso, as it may have been addressed.

[2019-10-01 11:18] ColmMassey opened #174 "rsync hanging when deploying web file"
1 When deploying a large number of file the process which synchronises the local directory with the one on the remote server, rsync, can hang, perhaps due to printing out large amounts of log information.

This is an example command
rsync -avz --no-perms --omit-dir
-times  --delete generated-data/experimental/www/doc/ sea-0-joe:/var/www/html/data1.solidarityeconomy.coop
/[project]/

changing -avz

[2019-10-05 12:44] ColmMassey commented on #32
[This](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/development/map-app/README.md) readme has now been updated.

[2019-10-05 12:44] #32 closed, assigned to joebillings, ColmMassey

[2019-11-04 14:14] ColmMassey commented on #56
https://mappingforchange.org.uk/services/online-mapping-platforms/

ucl chris church

[2019-11-11 11:25] ColmMassey commented on #79
Reasses if this is still a good idea.

[2019-11-21 14:51] ColmMassey commented on #119
The latest data from Co-ops UK is [here](https://nextcloud.solidarityeconomy.coop/index.php/f/31635) or ..NextCloud/CodeOperatives/open_data_organisations_2019_q3.csv. Let's focus on only co-ops, not outlets for this issue. Create a new graph for it and a map-app that points just to that data.

[2019-11-21 16:08] ColmMassey commented on #119
Let's use ..NextCloud/CodeOperatives/FieldMapping.ods document to specify how to interpret the fields in the Co-ops UK data as fields in the standard.csv format. The ones with green highlighting are straight forward. Code them first.

[2019-11-21 16:11] ColmMassey opened #175 "Create Map with two sources of data"
Simple demonstration of including to sources of non overlapping data. Use Oxford & Newbridge. Just check for any clashes.

[2019-11-21 16:29] ColmMassey opened #176 "Create simple UK Map with Co-ops UK co-ops & DotCoops Coops"
Create a map that displays Co-ops UK co-ops and DotCo-op co-ops that are in the UK. No requirement to check for duplicates.

[2019-11-21 16:37] ColmMassey opened #177 "Check UK co-ops in DotCoop data and Co-opsUK data for duplicates"
Requirements: Functioning graphs for Co-ops UK and Dot Coop co-ops.

Loop through all UK DotCoop co-ops.
  Look for Co-ops UK co-op with same postcode.
  and very similar names
    compare after removing whitespace, lower all caps and remove "limited", "ltd" etc.
  If you get a match create a sameas triple connecting the two co-ops.
  Add this triple to the both graphs.

[2019-11-21 16:44] ColmMassey opened #178 "Display UK DotCoop data and Co-opsUK data merging results when co-ops occur in both datasets"
Something like this
https://sketch.cloud/s/75lep/a/94nKMM/play

[2019-11-29 15:50] ColmMassey commented on #175
Great.
Have you been able to create your own subdomains of solidarityeconomy.coop yet? As soon as you can, shall we put this map in UKSE.solidarityeconomy.coop, so playground can stay your payground?

[2019-12-02 09:57] ColmMassey commented on #175
When shifting from oxford to newbridge data sources in the Database tab, what zoom and pan rules does it use?

[2019-12-02 12:16] ColmMassey opened #179 "Tease apart what should be where between About and new Databases tab"
We now have a 'selected database' view in the panel, to support selection when more then one linked data graph is being used to populate the directory/map.

We have the following type of info to be displayed somewhere.

1. HTML/Text describing the project the map is serving. It could include URL's, like to the newbridge project, or to an SEA page.
2. A statement about the map-app software with a U

[2019-12-04 23:26] ColmMassey commented on #176
Only material difference between building the Dot-coop data from 2019-10-03_DotCoop_Merged.csv rather than 2019-04-12-original.csv
is that we generate the URI by appending the digits in the RegistrantID rather than the ROID.
In the new data the RegistrantID is simply structured with the following form
C[7-9DIGITS]-CNIC

[2019-12-05 13:40] ColmMassey opened #180 "Add 'Type of Member' Field"
Co-ops UK has a field called Ownership Classification in its data. This is a good standalone field that we should start using. SE Oxford merges it into Organisational Structure. Nothing appropriate in ESSGlobal.

[2019-12-08 00:56] sunnydean commented on #177
Need to create query which:
identify targets of same as and merge both participating rows
url is dot-coop url
description is coop-uk desc

[2019-12-10 16:51] ColmMassey opened #181 "Display uri to company house data for UK co-ops"
When a co-op has a companies house # its URI is generate in the html view of the data.
e.g.
http://business.data.gov.uk/id/company/03929208
add this link to the data described in the map-app too.

[2019-12-11 09:40] ColmMassey commented on #119
In the 2019q3 outlets data, ### open_data_outlets_2019_q3.csv  for many co-op outlets there are duplicates. For example

R000001 | Co-operative Group Limited | The Co-operative Food - Tiree |
appears 4 times.

Need to find out why that is, but for the moment, can we only upload one outlet per Co-op/postcode?

[2019-12-11 09:52] ColmMassey commented on #119
I have email data@uk.coop to see if they can shed any light.

[2019-12-12 09:35] ColmMassey commented on #175
Working :-)

[2019-12-12 09:35] #175 closed, assigned to sunnydean

[2019-12-12 10:58] ColmMassey commented on #178
As of the morning of 12/12 we can load dotcoop (12/04/2019), or co-opsuk(q3/2019) or both. Looking closely at the Edinburgh Bicycle co-op (in Edinburgh) I'm seeing the following..
 - In the Co-ops UK graph, there is one entry for the co-op and one for the outlet. They have the same postcode, but the rest of the address has differences. The outlet also has a description. Neither has a website. Both

[2019-12-12 11:06] ColmMassey commented on #178
If I switch to just using the DotCo-op data it still presents to icons for Edinburgh Bicycle co-op in Edinburgh. The data is identical. Any ideas why this might be the case?

[2019-12-12 11:26] ColmMassey commented on #178
Toggling back to the co-ops-uk data set, I can't find the Edinburgh Bicycle co-op at all?

[2019-12-12 11:48] ColmMassey opened #182 "Sort directory listing alphabetically"
Entries in the directory should be displayed in alphabetical order.
The current oxford and newbridge maps, which use Primary Activites it appears alphabetically.
In both the latest 12/12/19 dotcoop-co-opsuk build and the dotcoop build where locality and country are used, it isn't sorted.

[2019-12-17 18:19] wu-lee commented on #179
1. and 2. seem to be both defined in the `about.html` page already, correct?

 And 3. are listed in the database page already, correct?

Tentatively implemented a configurable option `showDatasetsPanel` on the branch `dot-coop-coops-uk-merge`.

[2019-12-18 12:23] sunnydean commented on #119
When we see multiple entries for an outlet we just see the same entry but with a different phone number

[2019-12-19 09:34] sunnydean commented on #119
We have currently uploaded the latest data at https://w3id.solidarityeconomy.coop/coops-uk/test2019/ . We had issues due to multiple entries for the same outlet but with a different phone number. I have written a script to remove the duplicates, but we need to use the phone numbers. We have to combine the phone numbers into one field (as we do for websites in dotcoop) and we will have successfully

[2019-12-19 09:39] sunnydean commented on #178
To merge the data we first take the duplicated ones between each table and merge them. Then we take the entries that do not contain a sameas predicate from one table. Then we take the entries that do not contain a sameas predicate from the other table.

We are hard-coding the merge currently and have not made it generic (i.e. you can merge only coops uk and dotcoop datasets). We also have hard-cod

[2019-12-19 09:41] sunnydean commented on #177
We are using the old structure for generating sameas predicates, it works on the current data

[2019-12-19 09:43] sunnydean commented on #179
We have a pretty good idea of what is needed. Will be discussed with Nick and Colm today to make sure we understand the task.

[2019-12-19 10:42] sunnydean commented on #179
to solve 1 and 2 we just need a write up for the about section for the dotcoop/coops-uk2019 merger

[2019-12-19 10:43] wu-lee commented on #179
That's an action for Colm (supply the text for the about page etc.).

Given that, I think I understand what to do, but will make a sketch just to confirm.

[2019-12-19 10:54] #177 closed, assigned to sunnydean

[2019-12-19 10:57] #178 closed, assigned to sunnydean

[2019-12-19 11:04] #119 closed, assigned to ColmMassey, sunnydean

[2019-12-19 11:21] wu-lee commented on #179
If I'm right this should clarify?

Point 1 and 2:
![Screen Shot 2019-12-19 at 10 46 35](https://user-images.githubusercontent.com/67825/71169418-c5d4b100-2250-11ea-855f-1771373816b7.png)

Point 3
![Screen Shot 2019-12-19 at 10 46 25](https://user-images.githubusercontent.com/67825/71169443-d2f1a000-2250-11ea-9f10-c1df27235239.png)

The final point is just to make the datasets tab optional, by a pa

[2019-12-19 13:32] ColmMassey commented on #179
Can you point to the place in the repository where the About html is put for the current Oxford and DotCoop maps?

[2019-12-19 13:38] ColmMassey commented on #179
What else should we put in the About? A version #?

[2019-12-19 13:48] wu-lee commented on #179
This, for example, defines what goes into the about tab for the coops UK 2017 "variant" of the map-app. Each variant can have its own.

https://github.com/SolidarityEconomyAssociation/open-data-and-maps/blob/master/map-app/variants/coops-uk2017/about.html

The about is fairly free-form.  But we could pull in the version from the version.json file which is generated when the map-app site is built.

[2019-12-20 09:47] dtmakm27 opened #183 "Start using new Dotcoop data"
Only material difference between building the Dot-coop data from 2019-10-03_DotCoop_Merged.csv rather than 2019-04-12-original.csv
is that we generate the URI by appending the digits in the RegistrantID rather than the ROID.
In the new data the RegistrantID is simply structured with the following form
C[7-9DIGITS]-CNIC

https://github.com/SolidarityEconomyAssociation/open-data-and-maps-outreach/is

[2019-12-20 09:49] sunnydean opened #184 "Design work on how sameas merging works"
To merge the data we first take the duplicated ones between each table and merge them. Then we take the entries that do not contain a sameas predicate from one table. Then we take the entries that do not contain a sameas predicate from the other table.

We are hard-coding the merge currently and have not made it generic (i.e. you can merge only coops uk and dotcoop datasets). We also have hard-cod

[2019-12-20 09:51] sunnydean opened #185 "Collect richer data from Coops-UK 2019"
We have currently uploaded the latest data at https://w3id.solidarityeconomy.coop/coops-uk/test2019/ . We had issues due to multiple entries for the same outlet but with a different phone number. I have written a script to remove the duplicates, but we need to use the phone numbers. We have to combine the phone numbers into one field (as we do for websites in dotcoop) and we will have successfully

[2019-12-20 09:52] sunnydean opened #186 "Tidy up repository and servers"
Tidying up repository and make one server a production one and one a development one

[2019-12-23 12:33] dtmakm27 commented on #183
Successfully uploaded the merged data (have not made the proper changes to coops-uk2019 sameas fields, will do this when we confirm that the uploaded data is valid). (Perhaps we need a better system for changing sameas predicates when new data/versions are uploaded?)

Do we need to somehow include the Address components OR Merged Address fields from the 2019-10-03_DotCoop_Merged.csv?

[2019-12-23 12:40] dtmakm27 commented on #183
Looking through the data I saw that some potential duplicates still exist, such as:

C307682666-CNIC | Patria Digitalis |   | Co-operative |   |   | Dorfstrasse |   |   |   | Switzerland | http://ego.coop |   |   |   |   |   | 47.16491 | 8.5174
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
C319057406-CNIC | Patria Digitalis |   | Co-operative |   |  

[2020-01-08 09:40] ColmMassey commented on #185
I received an email from Co-ops UK. There is a newer data set and they have corrected the erroneous descripotions of the Outlets data. So worth a look before getting into this ticket.

"Sorry for the delayed response.

The open data guide was misleading. Though it claimed the CUK Identifier field was the unique ID for outlet, it's actually a foreign key to the organisation dataset.
I've just publi

[2020-01-08 10:16] ColmMassey commented on #183
Just checking that the dotcoop data is here https://w3id.solidarityeconomy.coop/dotcooptestNewData/

I think we can use just the digits as the first character C and the -CNIC is in every ID.

[2020-01-08 10:38] ColmMassey commented on #183
Re Patria Digitalis example, the Registrant IDs are different so they were not merged before this point. But as you note, every other field is identical, so they should and could be trivially merged anywhere. I'll create a ticket to bring my manual spreadsheet steps into the sausage factory. We can add the step to catch these duplicates after that.

[2020-01-08 11:00] ColmMassey commented on #63
@wu-lee Was doing some tidying and noticed this ticket. Thought I'd draw it to your attendtion in case there was anything interesting in there. Can you close it after taking a look, if you agree it is now superfluous.

[2020-01-08 11:04] ColmMassey opened #187 "Display a status message when a data set is being loaded."
When loading large datasets or on slow connections it is very helpful to have a status message indicating that a data set is being loaded and any relevant info available, like its address.

[2020-01-08 11:05] ColmMassey commented on #187
Do we have any timeouts in place for this loading? Is that easy to put in? What would we do if it did timeout?

[2020-01-08 11:29] ColmMassey commented on #185
This is turning into a large issue, as it could also include looking at a more generic way of handling outlets, how they can be displayed in a distinct manner, etc.

[2020-01-08 11:32] ColmMassey commented on #185
At the moment, the only way to interpret they are outlets is by the fact that it has a different (longer) type of URI. We should not be infering things from the structure of the uri. We need to create a new field to indicate an inititative is an outlet/branch/whatever of an other inititiative and then provide a link back to that parent.

[2020-01-09 14:34] ColmMassey opened #188 "Hide map marker option."
Create an option to disable visualisation of map markers based on directory category and search options string matches.

1) Beside the search string box, provide a tickbox. When it is not ticked, initiatives which don't match the search criteria no longer have their icons displayed on the map.

2) For each category displayed on the Directory panel, provide a tickbox. If the tick is disabled then t

[2020-01-09 14:59] ColmMassey opened #189 "Screen section ratios on mini website on X-Large screens"
The mini website pages do not display well when on very large screens. The real estate ratios for each section of the home page, for example leave the map very naarrow and the green footer huge.

[2020-01-09 14:59] ColmMassey commented on #189
![screenshot-oxford solidarityeconomy coop-2020 01 09-14_58_53](https://user-images.githubusercontent.com/1162642/72078255-a9c4ac80-32f0-11ea-8535-78475f83130f.png)

[2020-01-10 09:41] ColmMassey opened #190 "Update how we deal outlets/branches"
The 2019 Q4 data published by Co-ops UK corrects previous errors in how outlets data was published. We need to update how we publish outlets data to reflect this fixes.
We could also simultaneously create/identify a new field to correctly document the outlet/parent relationship in the linked data, rather than relying on the implicit relationship that we could infer from the URI.

[2020-01-10 09:43] ColmMassey commented on #190
See also https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/62

[2020-01-10 09:45] ColmMassey commented on #190
See also https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/185

[2020-01-10 09:59] ColmMassey opened #191 "Reference co-op description from co-ops UK directory"
In the co-ops UK open data there are no descriptions for co-ops. Sometimes there is data for outlet descriptions.

However description data is published in their directory.
https://www.uk.coop/directory

For example the page
https://www.uk.coop/directory/solidarity-economy-association

which can be trivially created from the co-ops name on the open data. The text description can be easily scraped

[2020-01-20 13:35] dtmakm27 commented on #183
RE: Re Patria Digitalis example, the Registrant IDs are different so they were not merged before this point. But as you note, every other field is identical, so they should and could be trivially merged anywhere. I'll create a ticket to bring my manual spreadsheet steps into the sausage factory. We can add the step to catch these duplicates after that.

Right so the issue seems to be non trivial,

[2020-01-20 14:07] sunnydean commented on #184
Related issue:
https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/183

[2020-01-21 12:44] ColmMassey commented on #183
With the SostreCivic it looks like 3 variants on the same address. So a fuzzy comparison of some sort would confirm they are the same address. "c/" probably is a way of saying 'Care of'.
We should deal with this in 2 ways.
1) Add these to a report for DotCoop. They can tidy them at their end.
2) In the interim we could
  a) Just leave as duplicates and wait until the next drop when DotCoop has cle

[2020-01-21 12:52] dtmakm27 commented on #183
What does SCCL mean?
There is:
SOSTRECIVICSCCL
and
SOSTRECIVIC

listed with the same details

[2020-01-21 13:04] dtmakm27 commented on #183
What I would suggest is to do all of them. Do a) first so as to notify Dotcoop to clean the data first of all, then
Fuzzy match addresses and names to filter duplicates ourselves, then pass the filtered dataset to the geo service, which will populate it with correct address data.

Then using this correct geo data (lat,long coordinates) apply the same filter again over the dataset to remove duplica

[2020-01-21 17:40] wu-lee opened #192 "Make the map-app a self-contained NPM package in its own repository, for ease of re-use"
The map-app component of the mini-websites is tangled up with all the other stuff in the open-data-and-maps repository, and uses what seems to be unnecessarily complicated set of makefiles to do its work.

Looking at Matt Wallis' comments in the open-data-and-maps repo wiki, it seems like the intent is that this eventually should be more self-contained such that 3rd parties can use it. For @dtmakm

[2020-01-21 17:41] wu-lee opened #193 "Convert the linked-data sausage factory into a self-contained application in its own repository"

[2020-01-21 17:42] wu-lee opened #194 "Identify the components needed to deploy a mini-website server / SPARQL data endpoint."

[2020-01-21 17:42] wu-lee opened #195 "Propose how to separate development from live deployments of SEA's websites"

[2020-01-21 17:43] wu-lee opened #196 "Separate development from live deployments of SEA's websites"

[2020-01-21 17:46] wu-lee commented on #186
I'm going to split this ticket to cover the various parts of the job  (as I see it). Some of this has been done already. Comments welcome.
- Make the map-app a self-contained NPM package in its own repository, for ease of re-use #192
- Convert the linked-data sausage factory into a self-contained application in its own repository #193
- Identify the components needed to deploy a mini-website serve

[2020-01-21 18:52] wu-lee commented on #192
The work has been done on a branch [npm-ization](/SolidarityEconomyAssociation/open-data-and-maps/tree/npm-ization). This branch is used as the basis of a new repository [sea-map](/SolidarityEconomyAssociation/sea-map) (named so because `map-app` seemed too generic).

Each of the mini websites have had `npm-ization` branches created which integrate the use of the sea-map NPM package defined by thi

[2020-01-21 19:15] wu-lee commented on #194
Based on my examinations:

## sea-map has
- caddy
- php-fpm
- miniwebsites (oxford., newbridge./forsolidarityne./for., dotcoop-coopsuk., .dotcoop, playground.
- virtuoso (only ontowiki installed, vanilla dba login!)
- http://store1.solidarityeconomy.coop/OntoWiki/ (empty?)
- users (admin, chris, dean, joe, matt, nick)
- munin-node, monitored by monitor.webarch.net/munin2.agile.coop
- evidence of (

[2020-01-21 19:19] wu-lee commented on #195
`sea-map` seems newer, less cluttered. contains miniwebsites, mainly. Virtuoso unused.
miniwebsites use `sea-0` (aka `data1`) for data.

we could:
- create a new server, called 'dev.solidarityeconomy.coop'
- install virtuoso/apache
- use for development

then either...

plan A:
- move selected mini-websites to sea-0, using data there.
- requires changing domains only. content as-is

plan B:
- crea

[2020-01-21 20:08] wu-lee commented on #194
I've built a VM using the following steps, which seems to work for deploying mini-websites:

- install Ubuntu 16.04 (Xenial)
- install virtuoso-opensource
- install apache2 (or an equivalent)
- install ufw, sshd,
- (optionally) munin-node etc for monitoring? (just cos sea-map/sea-0 have it)

Then
- configure virtuoso to allow bulk uploads, maybe larger queries
- configure a dba password for virtuo

[2020-01-21 21:06] wu-lee commented on #194
I am wondering whether to configure apache to reverse-proxy to virtuoso. (Partly to add `https`)

However, I see Virtuoso can do SSL connections, and can serve static content, handle what looks like Apache's virtual hosts, and can even serve PHP scripts. I am wondering if Apache is needed at all in this case? Or perhaps there is some reason to keep Virtuoso behind a proxy, specifically security?

[2020-01-23 12:26] wu-lee commented on #186
Closing as redundant - see sub tickets

[2020-01-23 12:26] #186 closed, assigned to wu-lee

[2020-01-31 12:42] sunnydean commented on #113
From my research and reading previous comments we should stick either to
https://wiki.openstreetmap.org/wiki/Nominatim

or some service that services nominatim
https://opencagedata.com/pricing
https://business.mapquest.com/pricing-plans/

for more accurate results

Thoughts?

[2020-01-31 16:03] ColmMassey opened #197 "Demonstrate simple embedding of a sea-map in 3rd party webpage"
Show that anyone can easily put a sea-map that we publish in an iframe on their website without needing to install anything on their server.
The sea-map does not need to be configurable from the iframe.

[2020-01-31 17:07] #53 closed, assigned to nobody

[2020-02-03 11:15] ColmMassey commented on #79
Close this @wu-lee if you a agree that is what you have just done?

[2020-02-03 11:16] ColmMassey commented on #170
Can you close this one too when this is done.

[2020-02-03 13:19] ColmMassey commented on #192
Happy to close this

[2020-02-03 13:19] #192 closed, assigned to nobody

[2020-02-03 13:22] wu-lee commented on #79
I'll check with @dtmakm27 whether we can/should split the data and sausage-factory into separate repos too, as a part of this.

[2020-02-03 13:33] ColmMassey commented on #79
I think the original intent was what you have already done, splitting sausage factory and map-app. Seperating the data directory further into sausage-factory and data sources is a good idea. It deserves its own fresh Issue, I think.

[2020-02-03 13:40] ColmMassey commented on #113
Without further exploration I'd say let's just see how hard using Nominatim is.

[2020-02-03 14:15] ColmMassey opened #198 "Markers disappearing"
It is not uncommon for markers to disappear when using sea-app.

Try dotcoop.solidarityeconomy.coop
It is not reliably repeatable, but occurs often enough that it shouldn't take too long to replicate.

It has been observed on both Chrome and Firefox on Windows 10. The way to replicate is to use the Directory select countries and then to zoom to include all co-ops in that country by clicking the co

[2020-02-03 14:53] ColmMassey commented on #132
Is this still relevant. Please close @wu-lee,  if not.

[2020-02-03 15:36] sunnydean commented on #113
Hi, already using it.

Some of the addresses cannot be located though.
E.g.
SostreCivic in our entries has an address of:
c/casp 43,barcelona,ES

The actual address is:

Barcelona (city)
43 (housenumber)
08010 (postcode)
Carrer de Casp (street)

It's a question of should we switch to another service that can locate these or stick to Nominatim for now?

[2020-02-03 15:48] ColmMassey commented on #113
What's the failure rate? Can we tell how it compares to the the one we used in batch mode?

[2020-02-03 15:56] sunnydean commented on #113
The one we used in batch mode matches all of the requests (I am not sure with what accuracy though) which makes it easy to locate duplicate entries e.g.
SostreCivic,c/casp 43,barcelona,ES
and
SostreCivic,Casp 43,barcelona,8010,ES

will both point to the same address, hence they will be found as duplicates

The service we are using currently (or any other service that matches all of them) would be

[2020-02-03 16:00] wu-lee commented on #170
This is now done.

[2020-02-03 16:00] #170 closed, assigned to wu-lee, joebillings

[2020-02-03 16:00] ColmMassey commented on #113
Ok, let's go with that then. I imagine their API will be easy enough to use. Point to where we may need to set up a payment account. I'll share the API token via WhatsApp.

[2020-02-03 16:03] ColmMassey commented on #170
For sea-map and open-dat_and_maps?

[2020-02-03 16:07] wu-lee commented on #79
Assigning to @dtmakm27 to create tickets(s) for data- and sausage-separation and doing the deed.

[2020-02-03 23:02] sunnydean commented on #113
So..
It is ease to use, but their costs are insane for our requirements. The minimum is 99$/pm..
I asked their staff if they have an available api for pay as you go, they are replying tomorrow

Our requirements are a service that has an (1)API, has some (2)free requests we can make, (3)allows caching, does (4)fuzzy searching, and (5)has a reasonable pay as you go option

we need 5 and 2 because wh

[2020-02-04 09:24] ColmMassey commented on #113
Shall we set up an account with opencagedata for the moment? We can always change in the future as we get more familiar with our requirements etc. It looks like £38 (plus VAT, no doubt).

[2020-02-04 09:36] sunnydean commented on #113
Yes, I am available after 30mins if you need help. Let's communicate it over whatsapp

[2020-02-04 09:54] wu-lee commented on #132
Yes, I think this is still a good idea, what do you think @dtmakm27?

Webpack is the go-to build tool for React IIRC, but isn't specifically for React, and also has some sort of support for RequireJS/AMD modules, which might be helpful (if we don't decide to convert the modules to the ES2015 style).

[2020-02-04 10:09] ColmMassey opened #199 "Improve automation of data publishing"
Explore what we can do to reduce the number of manual steps required to in the publication of datasets to the Virtuoso server and the web server .

[2020-02-04 10:14] sunnydean commented on #132
I do agree with you @wu-lee. I suggest we discuss with the rest of the code-operative first to make sure we can have some cross comparability.
Other than that, yeah it seems like a sensible choice

[2020-02-04 10:24] ColmMassey opened #200 "Increase use of Limesurvey"
Enable the following new uses of Limesurvey
 - [x] Add Long lat fields in the survey.
 - [x] Send a notification to an admin that a new inititative has completed a survey entry.
 - [x] Add a hidden 'approved' field, only seen by admins to survey?

[2020-02-04 10:27] ColmMassey commented on #199
Include here exploring options for triggering the publication of some new data, e.g. after some new Limesurvey entries have been approved.

[2020-02-04 10:37] wu-lee commented on #170
For `open-data-and-maps`.

The `sea-map` repo never had a `development` branch, just `master`. Perhaps it should do but that depends on our workflow style.

It makes sense when you do testing on a branch, and then merge across to master when it's passed all the tests. Master then only contains point releases.

But sometimes your system is composed of lots of components which aren't really deployed

[2020-02-04 10:38] wu-lee commented on #170
As an aside, for a discussion and an example of a branch workflow with dev and feature branches see 'git flow': <https://nvie.com/posts/a-successful-git-branching-model/>

[2020-02-04 12:01] wu-lee commented on #199
If the sausage factory is going to remain implemented in Ruby, it makes sense to either use Rake instead of Make, or just provide a script to invoke.

The Makefiles I've seen tend to:
1. Require the user to edit variables in some Makefile;
1. Which are often committed to the repo, and so:
    1. local changes and committed changes fight;
    1. local changes risk being re-committed and shooting so

[2020-02-05 08:40] ColmMassey commented on #132
If there were other synergies with this direction, then all the better. Just a matter of choosing when to do that work.

[2020-02-07 10:35] ColmMassey opened #201 "Improve HTML view of raw data returned from triplestore"
Shouldn't be too hard to improve the look of the html we generate when browsers query our triplestores. Could we provide some styling that is more in sync with sea-app look?

This indenting bug could also be addressed at the same time.

https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/49

[2020-02-09 14:49] ColmMassey commented on #113
We now have this service, so closing.

[2020-02-09 14:49] #113 closed, assigned to sunnydean

[2020-02-10 19:49] ColmMassey commented on #193
This is now in the new repository [open-data](https://github.com/SolidarityEconomyAssociation/open-data)

[2020-02-10 19:51] ColmMassey commented on #193
I think someone @wu-lee @dtmakm27 said that there was still something to do to make this usable? Something to do with a token? Or was it just that the ReadMe needed to be updated?

[2020-02-14 14:44] sunnydean commented on #193
need to update documentation *

[2020-02-14 15:03] ColmMassey commented on #193
Shall we create a new issue in the new repository, to redo the documentation for building a database, and close this one? It can wait until March.

[2020-02-14 15:06] sunnydean commented on #193
Yes, I'll write up something short for now but will make a proper one later
We can close this one

[2020-02-14 15:38] ColmMassey commented on #139
Might be something useful [here](https://github.com/SolidarityEconomyAssociation/open-data-and-maps/issues/60)

[2020-02-20 11:27] wu-lee commented on #193
I tried to use the `open-data` repo and it seems to be missing some things. I don't know if there's a new ticket for that but adding that here. @dtmakm27 perhaps you can make sure this gets copied into the right place?

- [x] it's not accessible to members of the developers group, so I can't modify it.
- [ ] the documentation needs updating, as it is incomplete/incorrect in places
- [x] it now nee

[2020-02-22 18:27] ColmMassey commented on #193
Why would one need an API key?

[2020-02-22 18:31] ColmMassey commented on #109
https://forum.solidproject.org/t/visualization-lab-early-prototype/2616

[2020-02-22 20:59] wu-lee commented on #193
I'm not sure, seems to be something to do with the OpenCage. Running this:

    make -f ../../tools/se_open_data/makefiles/generate.mk edition=experimental

Fails with:
[code]

[2020-02-24 09:41] ColmMassey commented on #193
Of course. Essential for generating long/lats for no UK Postcode available.
@dtmakm27, it should be an option as not always needed.

[2020-02-24 13:50] sunnydean commented on #171
e.g. https://data1.solidarityeconomy.coop/dotcooptestNewData/index.html

[2020-02-24 14:40] sunnydean commented on #123
We should drop an email to Joe

[2020-02-24 15:13] wu-lee commented on #179
@ColmMassey - is this ticket still a priority for Code Operative Org Sprint 2? Or should we down-prioritise it?

[2020-02-25 10:05] ColmMassey commented on #56
www.ripess.eu/governance/members/

[2020-02-25 15:45] ColmMassey commented on #188
Is there an addreess where I can review this feature yet? @dtmakm27?

[2020-02-25 20:04] ColmMassey commented on #179
Yes, let's leave this until next month.

[2020-02-27 11:42] sunnydean commented on #136
Currently you can filter the initiatives based on one filter (e.g. Australia)
This will hide all other markers from the map except the ones in Australia

Usability for when search has also been added (e.g. clicking on show directory hides, search, can search filters by just clicking on show directories and typing and etc.)

The search operates either on all of the initiatives if you have not selec

[2020-02-27 11:53] sunnydean commented on #136
A simple solution for visualising multiple filters is a checkbox next to each country
i.e. having something like this in the directories tab:
Australia [check]
Argentina [check]
United Kingdon []

i will try to produce a small demo in the next day or two

[2020-02-27 11:56] sunnydean commented on #166
Done, for dot coop all of them are cooperatives (as expected), but it is not hard-coded, the registered organisation is pulled from the linked data

http://dev.playground.solidarityeconomy.coop/

@ColmMassey

[2020-02-27 11:56] sunnydean commented on #182
Done, listings are sorted  @ColmMassey
http://dev.playground.solidarityeconomy.coop/

[2020-02-27 12:00] sunnydean commented on #139
Added, you can lookup domains or locations from the main search bar. @ColmMassey
Essentially you are looking for the searched words in the initiatives:
name, dataset, www, locality, postcode, and country
http://dev.playground.solidarityeconomy.coop/

[2020-02-27 12:02] sunnydean commented on #136
Although not done, is this enough for the current iteration? (without the checkbox and multiple filters) @ColmMassey

(a new issue should be made for multiple filters)

[2020-02-27 12:03] sunnydean commented on #188
Here: http://dev.playground.solidarityeconomy.coop/

[2020-02-27 12:12] wu-lee commented on #171
This is I think now fixed, as per SolidarityEconomyAssociation/open-data@3072f2c4b. I've tested with a deploy of the dot-coop data using the open-data repository to https://dev.data.solidarityeconomy.coop/dotcooptestNewData/index.html